.more {
    width: 692px;
    height: 33px;
    background: #eeeeee;
    margin-left: 58px;
    line-height: 33px;
    text-align: center;
    font-size: 17px;
    color: #000;
    margin-top: 40px;
}