/*广告列表*/
.anniu {
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 30px;
    border: none;
    padding: 0;
    background: #cccccc;
    margin: 0 auto;
}

.anniu.active {
    background-color: #1cbb95;
}

.anniu > span {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 2px;
    top: 0;
    background: #fff;
}

.active > span {
    left: 24px;
}

.operation span a {
    display: inline-block;
    width: 40px;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
    color: #000;
    text-align: center;
}

