/*广告列表*/
.anniu{
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 30px;
    border: none;
    padding: 0;
    background: #cccccc;
    margin: 0 auto;
}
.anniu.active{
    background-color: #1cbb95;
    margin: 0 auto;
}
.anniu>span{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 2px;
    top: 0;
    background: #fff;
}
.active>span{
    left: 24px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    vertical-align: inherit;
}
/*input下拉框*/
.operation span a {
    display: inline-block;
    width: 40px;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
    color: #000;
    text-align: center;
}

.selectinput{
    width: 130px;
    height: 36px;
}