.list_4{
    margin-top: 40px;
}
#table th{
    text-align:center;
    height:50px;
    line-height:50px;
    font-size:14px;
}
#table tr{
    text-align:center;
    height:40px;
    line-height:40px;

}
#table tr td{
    line-height:40px;
    height:40px;

}
#table tr td input[type="button"]{
    width:40px;
    height:30px;
    margin-left:3px;
    line-height:26px;
    text-align:center;
}
.alertbox{
    position: fixed;
    top: 20%;
    left: 30%;
    height: 280px;
    padding: 18px 50px;
    background-color: #ccc;
    display:none;
    z-index:1000;

}
.revise{
    width: 400px;
    height:300px;
    background:green;
    position: absolute;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.input1{
    width:300px;
    height:30px;
}
.add button{
    margin-left:100px;
    margin-top:40px;

}
.del{
    width:300px;
    height:200px;
    background: red;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    position: absolute;
    left:50%;
    top:200px;
}
.del p{
    width:300px;
    height:100px;
    line-height:100px;
    text-align:center;
    font-size:18px;
}

.del button{
    margin-left:65px;
    margin-top:40px;
}


.list_3 .table>tbody>tr>td:first-child, .list_3 .table>tbody>tr>td:nth-child(3){
    background: #e5e5e5;
    text-align: center;
}

.list_4 {
    margin: 40px 40px 0 40px;
}

.list_3 .table > tbody > tr > td:first-child, .list_3 .table > tbody > tr > td:nth-child(3) {
    background: #e5e5e5;
    text-align: center;
}

.revise{
    display:none;
}
.revise button{
    margin-left:100px;
    margin-top:40px;

}
.find .yes{
    margin-left: 163px;
    margin-top: 30px;
}