.kong{
    margin-top:20px;
}
.kong .form1{
    margin-bottom:10px;
}
#uls,#ulss{
    top:28px;
    left:57px;
    min-width:67px;
}

#uls li a{
    height:30px;
    line-height:30px;
}
#ulss li a{
    height:30px;
    line-height:30px;
}

.btns button{
    padding:5px 20px;
    position:relative;
}

.btns button span{
    position:absolute;
    right:5px;
    top:13px;
}
#home form .findbtn{
    margin-left:30px;
}

#home table td{
    line-height:34px;
}
#ios{
    padding-left: 25px;
    padding-top:20px;
    line-height: 20px;
}
#ios h5{

    color: #848383;
}

#ios h5 b{
    color:#d70101;
}

#ios form{
    margin-left:-50px;
    margin-top:30px;

}

select{
    height:34px;
    border-radius:4px;

}
