<!--用系统配置列表的一级弹出-->


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="roleEditModalLabel" style="overflow-y:auto;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="EditModalLabel">新增配置</h4>
            </div>
            <div class="modal-body">
                <form id="roleForm" role="form">
                    <div class="input-group">
                        <span class="input-group-addon">配置名称：</span>
                        <input type="text" name="name" class="form-control">
                    </div>
                    <br>
                    <div class="input-group wmspwd">
                        <span class="input-group-addon">配置值：</span>
                        <input type="text" name="value" class="form-control">
                    </div>
                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">配置说明：</span>
                        <textarea style="width: 473px;height: 68px;resize: none;" rows="2" maxlength="60" name="remark" class="form-control" placeholder="最多60文字的说明"></textarea>
                    </div>
                    <br>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="saveBtn" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

