<div class="modal fade" id="homeCtrlModal" tabindex="-1" role="dialog" aria-labelledby="homeCtrlModalLabel" style="overflow-y:auto;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="homeCtrlModalLabel">置首页设置</h4>
            </div>
            <div class="modal-body">
                <form id="homeCtrlForm" role="form" >
                    <div class="input-group">
                        <span class="input-group-addon">网站名：</span>
                        <input type="text" name="siteName" class="form-control" id="siteNameID">
                    </div>
                    <br>

                    <!--<div id="city" class="input-group">-->
                        <!--<span class="input-group-addon">首页权重：</span>-->
                        <!--<select class="prov form-control"></select>-->
                        <!--<select class="city form-control" disabled="disabled"></select>-->
                    <!--</div>-->
                    <div class="input-group">
                        <span class="input-group-addon">首页权重：</span>
                        <!--<select name="homeWeight" class="form-control" id="change">-->
                            <!--<option value ="1">轮播图</option>-->
                            <!--<option value ="2">专栏</option>-->
                            <!--<option value="3">新闻列表</option>-->
                            <!--<option value="4">鹰眼视角</option>-->
                            <!--<option value="5">热门文章</option>-->
                        <!--</select>-->
                        <!--<input type="text" name="homeWeight" class="form-control">-->
                        <select name="province" id="homeWeightSiteName" class="form-control" onchange="if(this.value != '') setCity(this.options[this.selectedIndex].value);">
                            <option value="">请选择网站</option>
                            <option value="鹰眼新闻">鹰眼新闻</option>
                            <option value="中华财经资讯网">中华财经资讯网</option>
                            <option value="中国新闻资讯网">中国新闻资讯网</option>
                            <option value="中华财经网">中华财经网</option>
                            <option value="中国新闻报道网">中国新闻报道网</option>
                            <option value="易趣财经">易趣财经</option>
                            <option value="中华新闻采编网">中华新闻采编网</option>
                            <option value="每日新闻">每日新闻</option>
                            <option value="财经观点网">财经观点网</option>
                            <option value="第一传媒网">第一传媒网</option>
                            <option value="焦点新闻网">焦点新闻网</option>
                            <option value="环球财经资讯">环球财经资讯</option>
                            <option value="环球财经">环球财经</option>
                            <option value="中国产经咨询">中国产经咨询</option>
                            <option value="InterfaceInfo">InterfaceInfo</option>
                            <option value="国际财经网">国际财经网</option>
                            <option value="第一新闻网">第一新闻网</option>
                            <option value="中国新闻在线">中国新闻在线</option>
                            <option value="掌上财经">掌上财经</option>
                            <option value="红鼎财经网">红鼎财经网</option>
                            <option value="今日财经">今日财经</option>
                            <option value="顶端财经">顶端财经</option>
                            <option value="中国顶端资讯网">中国顶端资讯网</option>
                        </select>

                        <select name="homeWeight" id="homeWeight" class="form-control" >
                            <!--<option value="">请选择位置</option>-->
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="saveBtn" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    function removeOptions(selectObj) {
        if (typeof selectObj != 'object') {
            selectObj = document.getElementById(selectObj);
        }
        // 原有选项计数
        for (var i=0; i < selectObj.options.length; i++) {
            // 移除当前选项
            selectObj.options[0] = null;
        }
    }
    function setSelectOption(selectObj, optionList, firstOption, selected) {
        if (typeof selectObj != 'object') {
            selectObj = document.getElementById(selectObj);
        }
        // 清空选项
        removeOptions(selectObj);
        // 选项计数
        var start = 0;
        // 如果需要添加第一个选项
        if (firstOption) {
            selectObj.options[0] = new Option(firstOption, '');
            // 选项计数从 1 开始
            start ++;
        }
        for (var i=0; i < optionList.length; i++) {
            // 设置 option
            selectObj.options[start] = new Option(optionList[i].txt, optionList[i].val);
            // 选中项
            if(selected == optionList[i].val)  {
                selectObj.options[start].selected = true;
            }
            // 计数加 1
            start ++;
        }
    }

    var homeWeightArr = [];
    homeWeightArr['鹰眼新闻'] =/*id=1*/
            [
                {txt:'轮播图', val:'1'},
                {txt:'专栏', val:'2'},
                {txt:'新闻列表', val:'3'},
                {txt:'鹰眼视觉', val:'4'},
                {txt:'热门文章', val:'5'}
            ];
    homeWeightArr['第一新闻网'] =/*id=2*/
            [
                {txt:'轮播图', val:'1'},
                {txt:'专栏', val:'2'},
                {txt:'新闻列表', val:'3'},
            ];
    homeWeightArr['今天财经'] =/*id=3*/
            [
                {txt:'专栏', val:'1'},
                {txt:'新闻列表', val:'2'},
                {txt:'热点推荐', val:'3'},
            ];
    homeWeightArr['中华财经资讯网'] =/*id=6*/
            [
                {txt:'轮播图', val:'1'},
                {txt:'热点要闻', val:'2'},
                {txt:'新闻列表', val:'3'},
                {txt:'财经专题', val:'4'}
            ];
    homeWeightArr['每日新闻'] =/*id=7*/
            [
                {txt:'专栏', val:'1'},
                {txt:'新闻列表', val:'2'},
                {txt:'焦点新闻', val:'3'},
            ];
    homeWeightArr['中华财经网'] =/*id=8*/
            [
                {txt:'专栏', val:'1'},
                {txt:'轮播图', val:'2'},
                {txt:'新闻列表', val:'3'},
            ];
    homeWeightArr['易趣财经'] =/*id=12*/
            [
                {txt:'专栏', val:'1'},
                {txt:'新闻列表', val:'2'},
                {txt:'热门文章', val:'3'},
            ];
    homeWeightArr['中国新闻资讯网'] =
            [
                {txt:'轮播图', val:'1'},
                {txt:'专栏', val:'2'},
                {txt:'新闻列表', val:'3'},
                {txt:'热点新闻', val:'4'}
            ];
    homeWeightArr['中国新闻报道网'] =
            [
                {txt:'专栏', val:'1'},
                {txt:'轮播图', val:'2'},
                {txt:'新闻列表', val:'3'},
            ];
    homeWeightArr['中华新闻采编网'] =
            [
                {txt:'专栏', val:'1'},
                {txt:'轮播图', val:'2'},
                {txt:'新闻列表', val:'3'},
                {txt:'今日热点', val:'4'},
            ];
    homeWeightArr['财经观点网'] =
            [
                {txt:'轮播图', val:'1'},
                {txt:'新闻列表', val:'2'},
                {txt:'焦点新闻', val:'3'},
            ];
    homeWeightArr['第一传媒网'] =
            [
                {txt:'轮播图', val:'1'},
                {txt:'专栏', val:'2'},
                {txt:'新闻列表', val:'3'},
                {txt:'热点', val:'4'},
            ];
    homeWeightArr['焦点新闻网'] =
            [
                {txt:'轮播图', val:'1'},
                {txt:'新闻列表', val:'2'},
                {txt:'推荐', val:'3'},
                {txt:'热点新闻', val:'4'},
            ];
    homeWeightArr['环球财经资讯'] =
            [
                {txt:'专栏', val:'1'},
                {txt:'轮播图', val:'2'},
                {txt:'新闻列表', val:'3'},
            ];
    homeWeightArr['环球财经'] =
            [
                {txt:'轮播图', val:'1'},
                {txt:'专栏', val:'2'},
                {txt:'新闻列表', val:'3'},
            ];
    homeWeightArr['中国产经咨询'] =
            [
                {txt:'轮播图', val:'1'},
                {txt:'新闻列表', val:'2'},
                {txt:'热点新闻', val:'3'},
            ];
    homeWeightArr['InterfaceInfo'] =
            [
                {txt:'轮播图', val:'1'},
                {txt:'新闻列表', val:'2'},
                {txt:'热点新闻', val:'3'},
                {txt:'新闻排行', val:'4'},
            ];
    homeWeightArr['国际财经网'] =
            [
                {txt:'轮播图', val:'1'},
                {txt:'新闻列表', val:'2'},
                {txt:'热点新闻', val:'3'},
            ];
    homeWeightArr['中国新闻在线'] =
            [
                {txt:'轮播图', val:'1'},
                {txt:'新闻列表', val:'2'},
                {txt:'热点专题', val:'3'},
            ];
    homeWeightArr['掌上财经'] =
            [
                {txt:'专栏', val:'1'},
                {txt:'新闻列表', val:'2'},
//                {txt:'热点专题', val:'3'},
    ];
    homeWeightArr['红鼎财经网'] =
            [
                {txt:'轮播图', val:'1'},
                {txt:'新闻列表', val:'2'},
                {txt:'热点', val:'3'},
            ];
    homeWeightArr['顶端财经'] =
            [
                {txt:'专栏', val:'1'},
                {txt:'轮播图', val:'2'},
                {txt:'新闻列表', val:'3'},
                {txt:'热点推荐', val:'4'},
            ];
    homeWeightArr['中国顶端资讯网'] =
            [
                {txt:'轮播图', val:'1'},
                {txt:'新闻列表', val:'2'},
                {txt:'新闻推荐', val:'3'},
                {txt:'热文排行', val:'4'},
            ];
    function setCity(province) {
        setSelectOption('homeWeight', homeWeightArr[province], '请选择位置');
    }

</script>