<div class="modal fade" id="homeCtrlModal" tabindex="-1" role="dialog" aria-labelledby="homeCtrlModalLabel" style="overflow-y:auto;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="homeCtrlModalLabel">首页设置</h4>
            </div>
            <div class="modal-body">
                <form id="homeCtrlForm" role="form" >
                    <div class="input-group">
                        <span class="input-group-addon">网站名：</span>
                        <input type="text" name="siteName" class="form-control" id="siteNameID">
                    </div>
                    <br>

                    <!--<div id="city" class="input-group">-->
                    <!--<span class="input-group-addon">首页权重：</span>-->
                    <!--<select class="prov form-control"></select>-->
                    <!--<select class="city form-control" disabled="disabled"></select>-->
                    <!--</div>-->
                    <div class="input-group">
                        <span class="input-group-addon">首页权重：</span>
                        <!--<select name="homeWeight" class="form-control" id="change">-->
                        <!--<option value ="1">轮播图</option>-->
                        <!--<option value ="2">专栏</option>-->
                        <!--<option value="3">新闻列表</option>-->
                        <!--<option value="4">鹰眼视角</option>-->
                        <!--<option value="5">热门文章</option>-->
                        <!--</select>-->
                        <!--<input type="text" name="homeWeight" class="form-control">-->
                        <select name="province" id="homeWeightSiteName" class="form-control" style="display: none">
                            <option value="">请选择网站</option>
                            <option value="鹰眼新闻">鹰眼新闻</option>
                            <option value="中国新闻资讯网">中国新闻资讯网</option>
                            <option value="易趣财经">易趣财经</option>
                                <option value="每日新闻">每日新闻</option>
                            <option value="第一传媒网">第一传媒网</option>
                            <option value="焦点新闻网">焦点新闻网</option>
                            <option value="环球财经网">环球财经网</option>
                            <option value="界面资讯网">界面资讯网</option>
                            <option value="红鼎财经网">红鼎财经网</option>

                            <option value="中华财经资讯网">中华财经资讯网</option>
                            <option value="中华财经网">中华财经网</option>
                            <option value="中华新闻网">中华新闻网</option>
                            <option value="中国新闻采编网">中国新闻采编网</option>
                            <option value="财经观点网">财经观点网</option>
                            <option value="环球财经资讯网">环球财经资讯网</option>
                            <option value="中国产经资讯">中国产经资讯</option>
                            <option value="国际财经网">国际财经网</option>
                            <option value="第一新闻网">第一新闻网</option>
                            <option value="中国新闻在线">中国新闻在线</option>
                            <option value="掌上财经">掌上财经</option>
                            <option value="今日财经网">今日财经网</option>
                            <option value="顶端财经">顶端财经</option>
                            <option value="中国顶端资讯网">中国顶端资讯网</option>
                        </select>

                        <select name="homeWeight" id="homeWeight" class="form-control" >
                            <!--<option value="">请选择位置</option>-->
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="saveBtn" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
