<link rel="stylesheet" href="../../libs/wangEditor/wangEditor.css"/>
<div class="modal fade" id="newsEditModal"  role="dialog" aria-labelledby="newsEditModalLabel" style="overflow-y:auto;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="newsEditModalLabel">新增稿件</h4>
            </div>
            <div class="modal-body">
                <div class="input-group" id="editTypeBox" style="margin-bottom: 18px;">
                    <span class="input-group-addon" id="editType">上传类型：</span>
                    <select id="myselect" class="form-control">
                        <option value="1">编辑器</option>
                        <option value="2">word上传</option>
                    </select>
                </div>
                <form id="newsForm" role="form">

                    <div class="input-group" id="newsTitle">
                        <span class="input-group-addon">标题：</span>
                        <input type="text" name="newsTitle" class="form-control">
                        <div style="display: table-row;">
                            <span class="newsTitle_length_surplus">已输入字符个数:<lable id="newsTitle_length">0</lable></span>
                        </div>
                    </div>

                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">来源：</span>
                        <input type="text" name="source" class="form-control">
                    </div>
                    <br>
                <!--    <div class="input-group" style="margin-bottom: 18px;">
                        <span class="input-group-addon">头图：</span>
                        <input type="file" accept=".jpg,.jpeg,.png" name="upload_file" class="form-control" style="width: 60%;"><span style="display:inline-block;margin: 10px 0 0 10px;color: #ccc;">上传jpg,jpeg,png格式的图片</span>
                        <input type="hidden" name="topImagePath">
                    </div>-->
                    <div class="input-group form-control" id="editor" style="width: 730px!important;">
                        <!--<iframe id="ueditor" src="../../libs/ueditor1_4_3_3-utf8-jsp/utf8-jsp/index.html" width="850px" height="600px" frameborder="0" scrolling="no"></iframe>-->
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">头图：</span>
                        <input id="topImg" type="hidden" name="topImagePath">
                        <div class="form-control">
                            <label style="font-weight:100"><input name="cover" type="radio" value="-1" checked="checked">无</label>
                            <label style="font-weight:100"><input name="cover" type="radio" value="0">默认文章第一张图</label>
                            <label style="font-weight:100"><input name="cover" type="radio" value="1">从文章中选择 </label>
                        </div>
                        <div id="selectDiv" style="display: none">
                            <div id="coverImg">

                            </div>
                            <div>
                                <a id="select_topImg"><span> 点击选择图片</span></a>
                            </div>
                        </div>
                    </div><br>
                    <div class="input-group">
                        <div id="showLaunchTitle">
                            <span><strong>选择投放网站的栏目</strong></span>
                        </div>
                    </div><br>
                    <!-- 稿件投放部分 -->
                    <div class="input-group" id="web_channel">
                        <input type="hidden" id="newsLaunchConfigNew">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr class="info">
                                    <th style="width:120px;">网站名</th>
                                    <th>栏目</th>
                                    <!--<th>已投放栏目</th>-->
                                </tr>
                                </thead>
                                <tbody id="newsWebchannel">
                                </tbody>
                            </table>
                    </div><br>
                    <div>
                    <span style="float: left;color: #ff0000;">红色勾选为已投放的栏目</span>
                    </div><br>
                    <!-- 设置上首页-->
                    <!--<div class="input-group">
                    </div><br>-->

                </form>

                <form id="newsWordForm" role="form" enctype="multipart/form-data">
                    <div class="input-group" id="uploadWord">
                        <span class="input-group-addon">上传：</span>
                        <input id="upload_word" type="file" name="upload_word" class="form-control" style="width: 60%;"><span style="display:inline-block;margin: 10px 0 0 10px;color: #ccc;">上传不超过10M的doc,docx文件 </span>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">来源：</span>
                        <input type="text" name="source" class="form-control">
                    </div>
                    <br>
               <!--     <div class="input-group">
                        <span class="input-group-addon">头图：</span>
                        <input type="file" accept=".jpg,.jpeg,.png" name="upload_file1" class="form-control" style="width: 60%;"><span style="display:inline-block;margin: 10px 0 0 10px;color: #ccc;">上传jpg,jpeg,png格式的图片 </span>
                        <input type="hidden" name="topImagePath1">
                    </div>-->

                </form>
            </div>
            <div class="modal-footer">
                <!--<button id="btn1">change</button>-->
                <input type="button" id="formatText" class="btn fl" value="一键排版"/><span class="fl" style="margin: 10px;color: #ccc;">一键排版功能去掉广告链接和空格</span>

                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="saveBtn" type="button" class="btn btn-primary">保存</button>

            </div>
        </div>
    </div>
</div>
<script>



</script>
<script type="text/javascript" src="../../libs/wangEditor/wangEditor.js"></script>
<script type="text/javascript" src="../script/components/newsEdit.js"></script>
