
<div class="modal fade checkPwd" id="pwdResetModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="top: 20%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body" style="overflow: hidden;">
                <div class="form-group modal_conment">
                    <label class="col-sm-3 control-label">原密码</label>
                    <div class="col-sm-7">
                        <input class="form-control" id="oldPwd"/>
                    </div>
                </div>
                <div class="form-group modal_conment">
                    <label class="col-sm-3 control-label">新密码</label>
                    <div class="col-sm-7">
                        <input class="form-control" id="newPwd"/>
                    </div>
                </div>
                <div class="form-group modal_conment">
                    <label class="col-sm-3 control-label">重复输入密码</label>
                    <div class="col-sm-7">
                        <input class="form-control" id="rNewPwd"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="pwdBtn">确认</button>
            </div>
        </div>
    </div>
</div>