/*以下为热点*/
.content-right h2{
    font-size:20px;
    color:#000;
    line-height:60px;
    border-bottom:1px solid #ececec;
}
.content-right ul li{
    overflow:hidden;
    padding-bottom:20px;
    border-bottom:1px solid #ececec;
}
.content-right ul li:nth-child(1) span{
    background:#fbd104;
    color:#fffef4;
}
.content-right ul li:nth-child(2) span{
    background:#fbd104;
    color:#fffef4;
}
.content-right ul li:nth-child(3) span{
    background:#fbd104;
    color:#fffef4;
}
.content-right ul li span{
    display:inline-block;
    width:16px;
    height:16px;
    margin-top:22px;
    background:#999;
    color:#ffffff;
    line-height:16px;
    float:left;
    text-align:center;

}
.content-right ul li div{
    float:right;
    margin-left:10px;
    margin-top:17px;
    line-height:22px;
    width:212px;

}

.content-right ul .right_news .news_cont{
    font-size:16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.content-right ul .right_news .news_cont a{
    color:#666;
}

.content-right ul .right_news .sourse {
    font-size: 14px;
    color: #999;
    margin-top: 8px;
}