.contentbg{
	margin-top:60px;
	margin-bottom:60px;
	width:100%;
/*	height:600px;*/
    padding-bottom:135px;
	background:#4397bb;
	overflow: hidden;

}
.content{
	width:726px;
	height:465px;
	border-radius:6px;
	background:#fafafa;
	/*margin-top:80px;*/
	margin:80px auto 0 auto;

}

.content .content-center{
	width:307px;
	height:276px;
	margin:0 auto;
}
.content h2{
	line-height: 84px;
	font-size:24px;
	text-align:center;
}

.login-text input{
	width:307px;
	height:40px;
	text-indent:35px;
	outline:none;
}
.login-text {
	width:311px;
}
.username-con {
	position:relative;
	width:311px;
	height:46px;
}

.username-con i{
	position:absolute;
	top:12px;
	width:16px;
	height:19px;
	margin-left:15px;
	margin-right:3px;
	background:url(../images/user.png);
}

.password-con{
	position:relative;
	/*width:311px;*/
	height:46px;
	margin-top:20px;
}
.password-con i{
	width:16px;
	height:19px;
	position:absolute;
	top:12px;

	margin-left:15px;
	margin-right:3px;
    background:url(../images/password.png);
}
.content .nextbox{
	/*width:307px;*/
	height:62px;
	margin-top:20px;
	/*margin:20px auto;*/
	font-size:15px;
}
.nextbox input{
	margin-top:4px;
	margin-right:9px;
	float:left;

}
.nextbox .nextlogin{
	float:left;
	color:#a0a0a0;
	
}
.nextbox .forget{
	float:right;
	color:#484848;
	text-decoration: underline;

}
input[type="button"]{
	color:#f0ffef;
	font-size:22px;
	background:#e8504d;
     border:0;
	width:307px;
	height:50px;
	line-height:50px;
	text-align:center;

}
.signIn{
	margin-top:40px;
	font-size:14px;
	text-align:center;
}
.signIn span{
	text-decoration: underline;
	font-weight:bolder;


}