body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal
}

body {
    background: #f8f8f8;
    color: #333;
    font-size: 12px;
    font-family: "SimSun", "宋体", "Arial Narrow", "微软雅黑";
}

ul, ol {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a:link {
    color: #009;
}

a:visited {
    color: #000;
}

h2 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    border: none;
}

body {
    font-family: 微软雅黑;
    background: #f8f8f8;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::before,
.clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

.moreBtn {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    height: 153px;
}

.moreBtn .more {
    display: inline-block;
    width: 152px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    font-size: 20px;
    color: #000;
    border: 1px solid #999;
}
.ad_left .img_box{
    width: 347px;
    height: 320px;
}
.ad_left .ad_icon{
    width: 44px;
    height: 20px;
    position: relative;
    top: -30px;
    right: -294px;
}
.news_list_left .img_box {
    margin: 10px;
    float: right;
}
#hot_list{
    width: 488px;
    margin-top: 20px;
    float: right;
}
.hot_list_title .img_box{
    width: 482px;
    height: 190px;
    margin-top: 20px;
}
.img_box{
    overflow: hidden;
}
.img_box img {
    width: 100%;
    height: 100%;
}

/*广告*/
.ad {
    width: 100%;
    margin-top: 20px;
}

.ad .ad_img {
    width: 165px;
    height: 435px;
    margin: 0 auto;
}

.ad_icon1 {
    width: 48px;
    height: 28px;
    position: relative;
    top: -40px;
    right: -1145px;
}

.back_to_top {
    display: none;
}

.top_img {
    position: fixed;
    top: 60%;
    right: 120px;
}
.headerbg {
    width: 100%;
    background: #ffffff;
}

.header, .content, .footer {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 140px;
    background: #fff;
    overflow: hidden;

}

.header .logo {
    float: left;
    margin:45px 0 54px 0;

}

.header .header-r {
    float: right;
    width: 266px;
    height: 40px;
    border-radius: 2px;
    background: #e5e5e5;
    margin-top: 50px;

}

.header .header-r form {
    position: relative;
}

.header .header-r form #search {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
}

.header .header-r input {
    width: 232px;
    height: 38px;
    line-height: 38px;
    padding-left: 32px;
    background: none;
    border: none;

}

.header_nav{
    float: left;
}

.header_nav .nav li {
    height: 54px;
    text-align: center;
    float: left;
    margin: 45px 0 0 36px;
}

.header_nav .nav li a {
    width: 74px;
    font-size: 20px;
    display: inline-block;
    color: #000;
    line-height: 54px;

}

.header_nav .nav a:hover {
    border-bottom: 2px solid #39a34e;
}
.active{
    border-bottom: 2px solid #39a34e;
}

