.headerbg{
    width:100%;
    /*height:233px;*/
    background:#ffffff;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
}
.headerbox{
    width:1200px;
    height:175px;
    margin:0 auto;
    overflow:hidden;
}
.nav{
    width:100%;
    height:58px;
    position:fixed;
    top:175px;
    left:0;
}
.headerbox>img{
    width:1200px;
    height:94px;

}
.header{
    height:81px;
}
.header a .logo{
    float:left;
}


.header .header-r{
    float:right;
    width:386px;
    height:40px;
    background:#f3f3f3;
    margin-top:21px;
    border-radius: 2px ;


}

.header .header-r form{
    position:relative;
}

.header .header-r form #search{
    position:absolute;
    top:9px;
    right:10px;
    /*left:202px;*/
}

.header .header-r input[type="text"]{
    width:280px;
    height:40px;
    background:none;
    border:none;
    padding-left:10px;

}
.header .header-r input[type="button"]{
    border:none;
    width:101px;
    height:40px;
    background:#71b9ff;
    font-size:20px;
    color:#fff;
}
.topblank{
    width:100%;
    height:235px;

}
.nav{
    width:100%;
    height:58px;
    background:url(../images/navbg.png) repeat-x;
    z-index:100;
}
.nav ul{
    width:1200px;
    margin:0 auto;

}
.nav ul li {
    float: left;
    margin-right: 58px;
    line-height:58px;
}
a{
    color:#000000;
}
/*.nav ul li a:hover{*/
    /*color:#007eff;*/
/*}*/
.active a{
     color:#007eff;
 }