/*以下为主体内容*/
.contentbg{
    overflow:hidden;
}

.content{
    width:1200px;
    margin:10px auto 0 auto;
    overflow:hidden;

}

.content-left{
    width:698px;
    float:left;
    margin-bottom:200px;
}
.advise{
    width:698px;
    height:150px;
    overflow:hidden;
}
.editorbox{
    background:#fff;
    margin-top:10px;

}

.content-right{
    width:472px;
    float:right;
}

.editor_tit h2{
    width:698px;
    line-height:40px;
    padding-top:20px;
    font-size:20px;
    color:#000;
    white-space: nowrap;
    overflow: hidden;
    text-align:center;

}
.editor_tit h2 a{
    color:#000;
}
.editor_tit p{
    line-height:36px;
    font-size:16px;
    color:#999999;
    text-align:center;

}
.editor_tit .date{
    margin-right:10px;
}

.editor_con {
    margin: 25px 15px 0!important;
    padding-bottom:50px;

}

.editor_con p {
    text-indent: 2em !important;
    margin-bottom: 30px!important;
    font-size: 16px!important;
    color: #000!important;
    line-height: 28px!important;
}


.editor_con h1, .editor_con h2, .editor_con h3, .editor_con h4, .editor_con h5 {
    font-size: 20px!important;
    margin-bottom: 30px!important;
}

.editor_con img {
    max-width: 100%!important;
    margin: 5px auto!important;
}


.advertising{
    width:262px;
    height:214px;
    position:fixed;
    left:0;
    top:130px;
}



