.contentbg{
    overflow:hidden;

}
.content{
    width:1200px;
    margin:10px auto 0 auto;
    overflow:hidden;

}

.content-left{
    width:698px;
    float:left;
}

.content-right{
    width:472px;
    float:right;
}

.content-left .news_top{
    width:698px;
    height:268px;
    position:relative;
}
.news_top img{
    width:100%;
    height:100%;
}
#swiper-button-prev{
    background:url(../images/arrows-l.png) no-repeat;
}

#swiper-button-next{
    background:url(../images/arrows-r.png) no-repeat;
}

.news_top .bgcolor{
    background:rgba(0,0,0,.15);
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    line-height:50px;
    font-size:20px;
    color:#fff;
    text-align:center;
}

.slideshow img{
    width:100%;
    height:100%;
}
#Shufflingpaging{
    bottom:60px;

}
#Shufflingpaging span{
    width:32px;
    height:28px;
    line-height:28px;
    text-align:center;
    border-radius:0;
    margin:0 10px;
}
.news_Img .bgcolor{
    background:rgba(0,0,0,.15);
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    line-height:23px;
    font-size:16px;
    color:#fff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-left:32px;
}

.news_Imgbox{
    width:698px;
    margin-top:10px;
    overflow: hidden;
}
.news_Img{
    width:344px;
    float:left;
    position:relative;
}
.news_Img img{
    width:100%;
    height:100%;
}

.news_Img:last-child{
    margin-left:10px;
}
.news_list{
    overflow:hidden;
    border-bottom:1px solid #e5e5e5;
}

.news_list a>img{
    width:206px;
    height:150px;
    float:left;
    margin:20px 10px 20px 0;
}
.news_list .list-r{
    width:482px;
    float:left;
}
.news_list .list-r h2{
    width:397px;
    white-space: nowrap;
    overflow: hidden;
    font-size:20px;
    color:#000;
    line-height:40px;
    margin-top:10px;

}
.news_list .list-r>div{
    margin-top:5px;
    line-height:30px;
    font-size:20px;
    color:#999;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news_list .list-r>p{
   line-height:40px;
    font-size:20px;
    color:#999;
}


.more{
    width:100px;
    height:34px;
    line-height:34px;
    border:1px solid #016cb7;
    border-radius: 2px;
    font-size:16px;
    color:#000;
    text-align:center;
    margin:20px auto 80px auto;

}
/*以下为右边部分*/

#backtop{
    position:fixed;
    bottom:174px;
    right:360px;
    display:none;
}
.advertising{
    width:262px;
    height:214px;
    position:fixed;
    left:0;
    top:130px;
}