.advise{
    width:1200px;
    margin:10px auto 0 auto;
    height:130px;
}
.advise img{
    width:100%;
    height:100%;
}


.contentbg{
    background:#f3f3f3;
    overflow:hidden;

}
.content{
    width:1200px;
    margin:10px auto 0 auto;
    overflow:hidden;

}
.content-left{
    width:680px;
    float:left;
}

.content-right{
    width:500px;
    float:right;
}
.news_listbox{
    overflow:hidden;
}

.news_list{
    width:680px;
    border-bottom:1px solid #e8e8e8;
    clear:both;
    padding-bottom:16px;
    padding-left:10px;
    background:#ffffff;
}
.news_list  h2{
    width:437px;
    line-height:40px;
    white-space: nowrap;
    overflow: hidden;
    font-size:20px;
    color:#000;
}

.news_list div{
    color:#666;
    margin-top:6px;
    font-size:16px;
    line-height:24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

.news_list p{
    line-height:40px;
    font-size:20px;
    color:#999;
}

.page{
    width:680px;
    height:128px;
    background:#fff;
    text-align:center;
    overflow:hidden;
    margin-bottom:80px;


}
.prevpages{
    margin-left:250px;
}
.page p{
    /*padding:40px auto 56px auto;*/
   margin-top:40px;
  margin-bottom:56px;
    float:left;
    width:75px;
    height:30px;
    font-size:20px;
    font-weight: normal;
    color:#000;
    text-align:center;
    line-height:30px;
    border-radius: 2px;
background:#efeeee;

}
.nextpages{
    margin-left:40px;
}

/*以下为右边部分*/
.rigth_adv{
    position:relative;
}
.rigth_adv .adv{
    width:100%;
    height:269px;
    margin-bottom: 20px;
}
.rigth_adv .adv_icon{
    position:absolute;
    right:10px;
    bottom:10px;
}


#backtop{
    position:fixed;
    bottom:168px;
    right:360px;
    display:none;
}

