.content-right-top{
    overflow:hidden;
    width:472px;
    height:250px;
}


/*.content-right-top img{*/
    /*width:472px;*/
    /*height:250px;*/
/*}*/

/*.content-right-top{*/
    /*width:*/
/*}*/
.hotnews{
    margin-top:30px;

}
.hotnews h2{
    line-height:36px;
    text-align:center;
    font-size:16px;
    color:#000;
    border-top:2px solid #006cb7;
    border-bottom:2px dashed #006cb7;
}

.hotnews ul{
    margin-top:15px;

}
.hotnews ul li{
    line-height:26px;
    font-size:16px;
    margin-bottom:15px;
    overflow:hidden;
}
.hotnews ul li span{
    float:left;
    width:10px;
    height:10px;
    border-radius: 50%;
    background:#006db5;
    margin:10px 10px 0 0;

}
.hotnews ul li a{
    color:#999;
    float:left;
    width:452px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}


