.news_list{
    width:990px;
    float:left;
    border-bottom:1px dashed #838383;
    clear:both;
    padding-bottom:20px;
}

.news_list  h2{
    width:450px;
    color:#000;
    line-height:56px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:20px;

}

.news_list div{
    font-size:12px;
    width:653px;
    line-height:22px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color:#666;
}
#searchlist{
    overflow:hidden;
}
.news_list p{
    margin-top:20px;
    font-size:12px;
    color:#666;
}
.news_list p .date{
    border-left:1px solid #666666;
    padding-left: 10px;
    margin-left:10px;
}
.more{
    width:178px;
    height:52px;
    line-height:52px;
    border:1px solid #d2d2d2;
    border-radius: 4px;
    font-size:22px;
    color:#999999;
    text-align:center;
    margin:40px 0 133px 405px;

}