<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.cms.mapper.AdPositionsMapper" >
  <resultMap id="BaseResultMap" type="com.yt.cms.model.AdPositions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ad_width" property="adWidth" jdbcType="INTEGER" />
    <result column="ad_height" property="adHeight" jdbcType="INTEGER" />
    <result column="ad_name" property="adName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, ad_width, ad_height, ad_name,remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    a.id, a.ad_width, a.ad_height, a.ad_name
    from adpositions a 
    where a.id = #{id,jdbcType=INTEGER} and a.isDel = 0
  </select>
  
    <select id="query" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from adpositions where 1=1 and isDel = 0

	      <if test="record.adName != null" >
	       and ad_name like concat('%', #{record.adName}, '%')
	      </if>
	 order by id desc 
	 <if test="page.pageLimit != null and page.pageSize != null" >
	        LIMIT #{page.pageLimit},#{page.pageSize}  
	 </if>
	 
  </select>
  
  <select id="queryCount" parameterType="com.yt.cms.model.AdPositions" resultType="long">
  	select count(1) from adpositions where 1=1 and isDel = 0
	   
      <if test="adName != null" >
       and ad_name like concat('%', #{adName}, '%')
      </if>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from adpositions where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.yt.cms.model.AdPositions" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
    insert into adpositions
    <trim prefix="(" suffix=")" suffixOverrides="," >
    
      <if test="adWidth != null" >
        ad_width,
      </if>
      <if test="adHeight != null" >
        ad_height,
      </if>
      <if test="adName != null" >
        ad_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
   
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      
      <if test="adWidth != null" >
        #{adWidth,jdbcType=INTEGER},
      </if>
      <if test="adHeight != null" >
        #{adHeight,jdbcType=INTEGER},
      </if>
      <if test="adName != null" >
        #{adName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yt.cms.model.AdPositions" >
    update adpositions
    <set >
      <if test="adWidth != null" >
        ad_width = #{adWidth,jdbcType=INTEGER},
      </if>
      <if test="adHeight != null" >
        ad_height = #{adHeight,jdbcType=INTEGER},
      </if>
      <if test="adName != null" >
        ad_name = #{adName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        isDel = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="delDate != null" >
        del_date = #{delDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>