<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.cms.mapper.MembersCollectNewsMapper">
  <resultMap id="BaseResultMap" type="com.yt.cms.model.MembersCollectNews">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="members_id" jdbcType="INTEGER" property="membersId" />
    <result column="news_publish_id" jdbcType="INTEGER" property="publishId" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  
    <resultMap id="ResultMap" type="com.yt.cms.model.MembersCollectNews" >
    	<id column="id" jdbcType="INTEGER" property="id" />
	    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
	    <result column="website_id" jdbcType="INTEGER" property="websiteId" />
	    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    	<association property="news" javaType="com.yt.cms.model.News">
    		<id column="news_id" property="id" jdbcType="INTEGER" />
		    <result column="news_title" property="newsTitle" jdbcType="VARCHAR" />
		    <result column="staticUrl" property="staticUrl" jdbcType="VARCHAR" />
    	</association>
  </resultMap>
  
  <sql id="Base_Column_List">
    id, members_id, news_publish_id, createDate, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from members_collect_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="query" parameterType="map" resultMap="ResultMap">
    select a.id, a.createDate,b.website_id, b.channel_id,c.id as news_id ,c.news_title, c.staticUrl
    from members_collect_news a, news_publish b, news c where a.news_publish_id = b.id and b.news_id = c.id
     and a.status = 0 and c.isDel = 0
     and a.members_id =  #{record.membersId,jdbcType=INTEGER}  order by a.id desc
      <if test="page.pageLimit != null and page.pageSize != null and page.pageSize != 0" >
	        LIMIT #{page.pageLimit},#{page.pageSize}  
	 </if>
  </select>
  
  <select id="queryCount" parameterType="com.yt.cms.model.MembersCollectNews" resultType="long">
  	 select count(1) from members_collect_news a, news_publish b, news c where a.news_publish_id = b.id and b.news_id = c.id
     and a.status = 0 and c.isDel = 0
     and a.members_id =  #{membersId,jdbcType=INTEGER} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from members_collect_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.yt.cms.model.MembersCollectNews">
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
    insert into members_collect_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
     
      <if test="membersId != null">
        members_id,
      </if>
      <if test="publishId != null">
        news_publish_id,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      
      <if test="membersId != null">
        #{membersId,jdbcType=INTEGER},
      </if>
      <if test="publishId != null">
        #{publishId,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="cancelCollect" parameterType="java.lang.Integer">
  	update members_collect_news set status = 1 where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>