<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.cms.mapper.MemberInfosMapper" >
  <resultMap id="BaseResultMap" type="com.yt.cms.model.MemberInfos" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="birth" property="birth" jdbcType="DATE" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
  </resultMap>
  
    <resultMap id="ResultMap" type="com.yt.cms.model.MemberInfos" extends="BaseResultMap">
    	<association property="members" javaType="com.yt.cms.model.Members">
    		<id column="members_id" property="id" jdbcType="INTEGER" />
		    <result column="uname" property="uname" jdbcType="VARCHAR" />
		    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
		    <result column="regDate" property="regDate" jdbcType="TIMESTAMP" />
		    <result column="isUse" property="isUse" jdbcType="INTEGER" />
		    <result column="isGag" property="isGag" jdbcType="INTEGER" />
    	</association>
  	</resultMap>
  	
  <sql id="Base_Column_List" >
    id, nickName, sex, birth, phone, email, qq, address, members_id,icon
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="ResultMap" parameterType="java.lang.Integer" >
        select 
     a.id as members_id, a.uname, a.pwd, a.regDate, a.isUse, a.isGag, 
     b.nickName, b.sex, b.birth, b.phone, b.email, b.qq, b.address, b.id,b.icon
    from members a, memberinfos b 
    where a.id = #{id,jdbcType=INTEGER} and a.id = b.members_id
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from memberinfos
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.yt.cms.model.MemberInfos" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
    
    insert into memberinfos
    <trim prefix="(" suffix=")" suffixOverrides="," >
     
      <if test="nickName != null" >
        nickName,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birth != null" >
        birth,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="membersId != null" >
        members_id,
      </if>
      <if test="icon != null" >
        icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=DATE},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="membersId != null" >
        #{membersId,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yt.cms.model.MemberInfos" >
    update memberinfos
    <set >
      <if test="nickName != null" >
        nickName = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birth != null" >
        birth = #{birth,jdbcType=DATE},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="membersId != null" >
        members_id = #{membersId,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>