<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.cms.mapper.MembersCommentsNewsMapper" >
  <resultMap id="BaseResultMap" type="com.yt.cms.model.MembersCommentsNews" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="members_id" property="membersId" jdbcType="INTEGER" />
    <result column="news_id" property="newsId" jdbcType="INTEGER" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="isDel" property="isDel" jdbcType="INTEGER" />
    <result column="delDate" property="delDate" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>

<resultMap id="ResultMap" type="com.yt.cms.model.MembersCommentsNews" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
		<association property="members" javaType="com.yt.cms.model.Members">
			 <id column="members_id" property="id" jdbcType="INTEGER" />
			<result column="uname" property="uname" jdbcType="VARCHAR"/>
		</association>
	    <association property="news" javaType="com.yt.cms.model.News">
	    	 <id column="news_id" property="id" jdbcType="INTEGER" />
		    <result column="news_title" property="newsTitle" jdbcType="VARCHAR" />
	    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, members_id, news_id, createDate, content
  </sql>

   <select id="query" resultMap="ResultMap" parameterType="map" >
    select a.id, a.createDate, a.content, b.id as news_id, b.news_title, c.id as members_id,c.uname
    from members_comments_news a, news b ,members c where a.isDel = 0 and a.news_id = b.id and a.members_id = c.id and b.isDel =0
    	<if test="record.startDate != null" >
       		<![CDATA[ and a.createDate >= #{record.startDate,jdbcType=TIMESTAMP}  ]]>
      	</if>
        <if test="record.endDate != null" >
       		<![CDATA[ and a.createDate <= #{record.endDate,jdbcType=TIMESTAMP}  ]]>
      	</if>
      	 <if test="record.memberUName != null" >
	       and c.uname like concat('%', #{record.memberUName}, '%')
	    </if>
	     <if test="record.newsTitle != null" >
	       and b.news_title like concat('%', #{record.newsTitle}, '%')
	    </if>
	    <if test="record.content != null" >
	       and a.content like concat('%', #{record.content}, '%')
	    </if>
	     order by a.id desc
	    <if test="page.pageLimit != null and page.pageSize != null and page.pageSize != 0" >
	        LIMIT #{page.pageLimit},#{page.pageSize}  
	 	</if>
  </select>
  
  <select id="queryCount" parameterType="com.yt.cms.model.MembersCommentsNews" resultType="long">
  	 select count(1)
    from members_comments_news a, news b ,members c where a.isDel = 0 and a.news_id = b.id and a.members_id = c.id and b.isDel =0
    	<if test="startDate != null" >
       		<![CDATA[ and a.createDate >= #{startDate,jdbcType=TIMESTAMP}  ]]>
      	</if>
        <if test="endDate != null" >
       		<![CDATA[ and a.createDate <= #{endDate,jdbcType=TIMESTAMP}  ]]>
      	</if>
      	 <if test="memberUName != null" >
	       and c.uname like concat('%', #{memberUName}, '%')
	    </if>
	     <if test="newsTitle != null" >
	       and b.news_title like concat('%', #{newsTitle}, '%')
	    </if>
	    <if test="content != null" >
	       and a.content like concat('%', #{content}, '%')
	    </if>
  
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from members_comments_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <update id="deleteLogical" parameterType="java.lang.Integer">
  	update members_comments_news set isDel = 1, delDate = now() where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="insertSelective" parameterType="com.yt.cms.model.MembersCommentsNews" >
     <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
    insert into members_comments_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="membersId != null" >
        members_id,
      </if>
      <if test="newsId != null" >
        news_id,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
  
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="membersId != null" >
        #{membersId,jdbcType=INTEGER},
      </if>
      <if test="newsId != null" >
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>

      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
</mapper>