<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.cms.mapper.NavigationBarMapper" >
  <resultMap id="BaseResultMap" type="com.yt.cms.model.NavigationBar" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="navigationName" property="navigationName" jdbcType="VARCHAR" />
    <result column="isUse" property="isUse" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, navigationName, isUse, comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from navigationbar
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="query" resultMap="BaseResultMap" parameterType="com.yt.cms.model.NavigationBar" >
    select 
    <include refid="Base_Column_List" />
    from navigationbar
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from navigationbar
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.yt.cms.model.NavigationBar" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
    insert into navigationbar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="navigationName != null" >
        navigationName,
      </if>
      <if test="isUse != null" >
        isUse,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     
      <if test="navigationName != null" >
        #{navigationName,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null" >
        #{isUse,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yt.cms.model.NavigationBar" >
    update navigationbar
    <set >
      <if test="navigationName != null" >
        navigationName = #{navigationName,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null" >
        isUse = #{isUse,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>