<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.cms.mapper.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.yt.cms.model.News" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="news_title" property="newsTitle" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="staticUrl" property="staticUrl" jdbcType="VARCHAR" />
    <result column="submit_user_id" property="submitUserId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="isDel" property="isDel" jdbcType="INTEGER" />
    <result column="del_date" property="delDate" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_edit" property="isEdit" jdbcType="INTEGER" />
    <result column="top_image_path" property="topImagePath" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yt.cms.model.News" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, news_title, source, staticUrl, submit_user_id,create_date,isDel,del_date,status,top_image_path
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news
    where id = #{id,jdbcType=INTEGER} and isDel = 0
  </select>
  
  <select id="query" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" /> ,
    <include refid="Blob_Column_List" />, case when b.num is null then 0 else b.num end as is_edit
    from news a 
    left join (select news_id,count(1) as num from news_launch where status !=2  group by news_id ) b on a.id = b.news_id where a.isDel = 0 
    <if test="news.startDate != null" >
       		<![CDATA[ and a.create_date >= #{news.startDate,jdbcType=TIMESTAMP}  ]]>
      	</if>
        <if test="news.endDate != null" >
       		<![CDATA[ and a.create_date <= #{news.endDate,jdbcType=TIMESTAMP}  ]]>
      	</if>
	     <if test="news.newsTitle != null" >
	       and a.news_title like concat('%', #{news.newsTitle}, '%')
	    </if>
	    <if test="news.source != null" >
	       and a.source = #{news.source}
	    </if>
	     order by a.id desc
	      <if test="page.pageLimit != null and page.pageSize != null and page.pageSize != 0" >
	        LIMIT #{page.pageLimit},#{page.pageSize}  
	 </if>
  </select>
  
  <select id="queryCount" resultType="long" parameterType="com.yt.cms.model.News" >
    select count(1)
    from news where 1=1 and isDel = 0 
    <if test="startDate != null" >
       		<![CDATA[ and create_date >= #{startDate,jdbcType=TIMESTAMP}  ]]>
      	</if>
        <if test="endDate != null" >
       		<![CDATA[ and create_date <= #{endDate,jdbcType=TIMESTAMP}  ]]>
      	</if>
	     <if test="newsTitle != null" >
	       and news_title like concat('%', #{newsTitle}, '%')
	    </if>
	    <if test="source != null" >
	       and source = #{source}
	    </if>
  </select>
  
  <update id="deleteLogicById" parameterType="java.lang.Integer">
  	update news set isDel = 1, del_date = now() where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.yt.cms.model.News" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsTitle != null" >
        news_title,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="submitUserId != null" >
        submit_user_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="topImagePath != null" >
        top_image_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsTitle != null" >
        #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>

      <if test="submitUserId != null" >
        #{submitUserId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
   	  <if test="topImagePath != null" >
        #{topImagePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yt.cms.model.News" >
    update news
    <set >
      <if test="newsTitle != null" >
        news_title = #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="staticUrl != null" >
        staticUrl = #{staticUrl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
	  <if test="topImagePath != null" >
        top_image_path = #{topImagePath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} and status = 0
  </update>

<update id="updateStatusByPrimaryKey" parameterType="com.yt.cms.model.News" >
    update news
    <set >
      <if test="status != null" >
       status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>