<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.cms.mapper.UserGroupMapper" >
  <resultMap id="BaseResultMap" type="com.yt.cms.model.UserGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="groupName" property="groupName" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="ResultMap" type="com.yt.cms.model.UserGroup" extends="BaseResultMap">
    	<association property="roles" javaType="com.yt.cms.model.Roles">
            <id column="roles_id" property="id"/>
            <result column="roleName" property="roleName" jdbcType="VARCHAR" />
    		<result column="roles_comment" property="comment" jdbcType="VARCHAR" />
        </association>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, groupName, comment
  </sql>
  <!-- 查询单个用户组的角色信息 -->
  <select id="selectByPrimaryKey" resultMap="ResultMap" parameterType="java.lang.Integer" >
    select 
    a.id, a.groupName, a.comment, b.id as roles_id, b.roleName, b.comment as roles_comment
    from user_group a 
    left join roles b on a.roles_id = b.id
    where a.id = #{id,jdbcType=INTEGER} and a.isDel = 0 and b.isDel = 0
  </select>
  <!-- 分页或者多条件查询 -->
  <select id="query" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from user_group where 1=1  and isDel = 0
    <if test="_parameter != null">
                and groupName like concat('%', #{_parameter}, '%')
       </if>
  </select>
  <!-- 树形展现 -->
  <select id="queryAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from user_group where isDel = 0
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.yt.cms.model.UserGroup" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
    insert into user_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="groupName != null" >
        groupName,
      </if>
      <if test="comment != null" >
        comment,
      </if>
       <if test="rolesId != null" >
        roles_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
       <if test="rolesId != null" >
        #{rolesId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yt.cms.model.UserGroup" >
    update user_group
    <set >
      <if test="groupName != null" >
        groupName = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
       <if test="rolesId != null" >
        roles_id = #{rolesId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="deleteLogicById" parameterType="java.lang.Integer" >
    update user_group
   			set isDel = 1, delDate = now() where id = #{id,jdbcType=INTEGER}
  </update>
  
  
</mapper>