<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.cms.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.yt.cms.entity.UserEntity" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="uname" property="userName" jdbcType="VARCHAR" />
        <result column="pwd" property="passWord" jdbcType="VARCHAR" />
        <result column="createDate" property="createDate" jdbcType="VARCHAR" />
        <result column="isUse" property="isUse" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, uname, pwd, createDate,isUse
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM users
    </select>

    <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM users
	   WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.yt.cms.entity.UserEntity">
       <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      </selectKey>
       INSERT INTO 
       		users
       		(uname,pwd) 
       	VALUES
       		(#{userName}, #{passWord})
    </insert>
    
    <update id="update" parameterType="com.yt.cms.entity.UserEntity" >
       UPDATE 
       		users 
       SET 
       	<if test="userName != null">uname = #{userName},</if>
       	<if test="passWord != null">pwd = #{passWord},</if>
       	isUse = #{isUse}
       WHERE 
       		id = #{id}
    </update>
    
     <update id="enableOrdisable" parameterType="com.yt.cms.entity.UserEntity" >
       UPDATE 
       		users 
       SET 
       	isUse = #{isUse}
       WHERE 
       		id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.Integer">
       DELETE FROM
       		 users 
       WHERE 
       		 id =#{id}
    </delete>

</mapper>