<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.cms.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.yt.cms.model.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="uname" property="userName" jdbcType="VARCHAR" />
        <result column="createDate" property="createDate" jdbcType="VARCHAR" />
        <result column="isUse" property="isUse" jdbcType="INTEGER"/>
    </resultMap>
    
     <resultMap id="ResultMap" type="com.yt.cms.model.User" extends="BaseResultMap">
         <association property="userGroup" javaType="com.yt.cms.model.UserGroup">
           	<id column="user_group_id" property="id" jdbcType="INTEGER" />
    		<result column="groupName" property="groupName" jdbcType="VARCHAR" />
    		<result column="comment" property="comment" jdbcType="VARCHAR" />
         </association>
    </resultMap>
    <sql id="Base_Column_List" >
        id, uname, createDate,isUse
    </sql>
 	
    <!-- 查询所有用户信息 -->
    <select id="query" resultMap="BaseResultMap"  parameterType="java.lang.String">
       SELECT 
       id, uname, createDate,isUse
	   FROM users where isUse = 1
	   <if test="_parameter != null">
                and uname like concat('%', #{_parameter}, '%')
       </if>
    </select>
    
    <!-- 查询所有用户信息 -->
<!--     <select id="queryCount" resultType="java.lang.Integer"  parameterType="com.yt.cms.model.User">
       SELECT count(1)
	   FROM users where isUse = 1
            <if test="userName!=null and userName!=''">
                and uname like concat('%', #{userName}, '%')
            </if>
    </select> -->
    
	<!-- 主键id查找用户信息,用户组 -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="ResultMap" >
        SELECT 
       a.id, a.uname, a.createDate,a.isUse,a.user_group_id,b.groupName 
	   FROM users a, user_group b
	   WHERE a.id = #{id} and isUse = 1 and a.user_group_id = b.id
    </select>
	<!-- 用户登录 -->
	<select id="login" parameterType="com.yt.cms.model.User" resultMap="ResultMap" >
        SELECT id, uname, user_group_id FROM users WHERE uname = #{userName} and pwd = #{passWord} and isUse = 1
    </select>
    <!-- 检测用户名是否已经被注册 -->
    <select id="findByUserName" parameterType="java.lang.String" resultType="java.lang.Integer" >
        SELECT count(1) FROM users WHERE uname = #{userName}
    </select>
    
	<!-- 用户注册，或者管理员新增用户 -->
    <insert id="insert" parameterType="com.yt.cms.model.User">
       <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      </selectKey>
       INSERT INTO 
       		users
       		(uname,pwd) 
       	VALUES
       		(#{userName}, #{passWord})
    </insert>
    <!-- 更新用户密码，注意用户名不许更新 -->
    <update id="update" parameterType="com.yt.cms.model.User" >
       UPDATE 
       		users 
       SET 
       	<!-- <if test="userName != null">uname = #{userName},</if> -->
       	<if test="passWord != null">pwd = #{passWord}</if>
       WHERE 
       		id = #{id}
    </update>
    <!-- 启停用户 逻辑删除-->
     <update id="disableOrEnable" parameterType="com.yt.cms.model.User" >
       UPDATE 
       		users 
       SET 
       	isUse = #{isUse}
       WHERE 
       		id = #{id}
    </update>
    <!-- 更新用户组id -->
    <update id="setUserGroup4User">
       UPDATE 
       		users 
       SET 
       	user_group_id = #{userGroupId}
       WHERE 
       		id = #{id}
    </update>
    <!-- 删除用户 物理删除 -->
    <delete id="delete" parameterType="java.lang.Integer">
       DELETE FROM
       		 users 
       WHERE 
       		 id =#{id}
    </delete>

</mapper>