<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.cms.mapper.WebsitesMapper" >
  <resultMap id="BaseResultMap" type="com.yt.cms.model.Websites" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteName" property="siteName" jdbcType="VARCHAR" />
    <result column="route" property="route" jdbcType="VARCHAR" />
    <result column="isUse" property="isUse" jdbcType="INTEGER" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="home_weight_max" property="homeWeightMax" jdbcType="INTEGER" />
    <result column="domain" property="domain" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="ResultMapByids" type="com.yt.cms.model.Websites" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteName" property="siteName" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="ResultMap" type="com.yt.cms.model.Websites" extends="BaseResultMap">
   		<collection property="channels" ofType="com.yt.cms.model.Channel">
            <id column="channel_id" property="id" jdbcType="INTEGER" />
		    <result column="channelName" property="channelName" jdbcType="VARCHAR" />
		    <result column="remark" property="remark" jdbcType="VARCHAR" />
        </collection>
        <collection property="webTemplates" ofType="com.yt.cms.model.WebsiteTemplate">
             <id column="template_id" property="id" jdbcType="INTEGER" />
		    <result column="template_path" property="templatePath" jdbcType="VARCHAR" />
		    <result column="template_type" property="templateType" jdbcType="INTEGER" />
        </collection>
        
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, siteName, route, isUse, createDate,home_weight_max,domain
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMap" parameterType="java.lang.Integer" >
    select 
    a.id, a.siteName, a.route, a.isUse, a.createDate,a.home_weight_max,a.domain,b.id as channel_id,  b.channelName, b.remark
    from websites a, channel b, websites_channel c 
    where a.id = #{id,jdbcType=INTEGER} and a.id = c.websites_id and c.channel_id = b.id and a.isUse = 1 and b.isUse = 1 and b.isDel = 0 and a.isDel = 0
  </select>
  <select id="query" resultMap="ResultMap" parameterType="map" >
    select 
    a.id, a.siteName, a.route, a.isUse, a.createDate,a.home_weight_max,a.domain,c.id as channel_id,  c.channelName, c.remark, d.id template_id,d.template_path, d.template_type
    from ( select * from  websites t where t.isDel = 0
    	order by id desc
     <if test="page.pageLimit != null and page.pageSize != null and page.pageSize != 0" >
	        LIMIT #{page.pageLimit},#{page.pageSize}  
	 	</if>
    ) a
    left join websites_channel b on  a.id = b.websites_id 
    left join  channel c on c.id = b.channel_id and c.isDel =0
    left join website_template d on a.id = d.websites_id
    where 1=1 
     <if test="web.isUse != null and web.isUse != -1" >
	        and a.isUse = #{web.isUse,jdbcType=INTEGER}
	      </if>
	      <if test="web.siteName != null" >
	       and a.siteName like concat('%', #{web.siteName}, '%')
	      </if>
	      order by a.id desc 
	    
  </select>
  
  <select id="queryCount" parameterType="com.yt.cms.model.Websites" resultType="long">
  	  select count(1) from websites a 
    where 1=1 and a.isDel = 0
     	<if test="isUse != null and isUse != -1" >
	        and isUse = #{isUse,jdbcType=INTEGER}
	    </if>
	    <if test="siteName != null" >
	       and siteName like concat('%', #{siteName}, '%')
	    </if>
  </select>
  
  <select id="queryByIds" resultMap="ResultMapByids" parameterType="list">
  	select id,siteName from websites where isDel = 0 and id in 
  	<foreach collection="ids" item="item" index="index"
			open="(" close=")" separator=",">
			#{item}
	</foreach>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from websites
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.yt.cms.model.Websites" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
    insert into websites
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="siteName != null" >
        siteName,
      </if>
      <if test="route != null" >
        route,
      </if>
      <if test="isUse != null" >
        isUse,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
    
      <if test="homeWeightMax != null" >
        home_weight_max,
      </if>
      <if test="domain != null" >
        domain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     
      <if test="siteName != null" >
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="route != null" >
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null" >
        #{isUse,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>

      <if test="homeWeightMax != null" >
         #{homeWeightMax,jdbcType=INTEGER},
      </if>
      <if test="domain != null" >
         #{domain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yt.cms.model.Websites" >
    update websites
    <set >
      <if test="siteName != null" >
        siteName = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="route != null" >
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null" >
        isUse = #{isUse,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
  
      <if test="homeWeightMax != null" >
        home_weight_max = #{homeWeightMax,jdbcType=VARCHAR},
      </if>
      <if test="domain != null" >
         domain = #{domain,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="deleteLogicById" parameterType="java.lang.Integer" >
    update websites set isDel = 1, del_date = now() where id = #{id,jdbcType=INTEGER}
  </update>
  
 
</mapper>