<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.cms.mapper.WebsitesMapper" >
  <resultMap id="BaseResultMap" type="com.yt.cms.model.Websites" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteName" property="siteName" jdbcType="VARCHAR" />
    <result column="route" property="route" jdbcType="VARCHAR" />
    <result column="isUse" property="isUse" jdbcType="INTEGER" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="templteConfig" property="templteConfig" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="ResultMap" type="com.yt.cms.model.Websites" extends="BaseResultMap">
   		<collection property="channels" ofType="com.yt.cms.model.Channel">
            <id column="channel_id" property="id" jdbcType="INTEGER" />
		    <result column="channelName" property="channelName" jdbcType="VARCHAR" />
		    <result column="remark" property="remark" jdbcType="VARCHAR" />
        </collection>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, siteName, route, isUse, createDate, templteConfig
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMap" parameterType="java.lang.Integer" >
    select 
    a.id, a.siteName, a.route, a.isUse, a.createDate, a.templteConfig,b.id as channel_id,  b.channelName, b.remark
    from websites a, channel b, websites_channel c 
    where a.id = #{id,jdbcType=INTEGER} and a.id = c.websites_id and c.channel_id = b.id and a.isUse = 1 and b.isUse = 1 and b.isDel = 0 and a.isDel = 0
  </select>
  <select id="query" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from websites where 1=1  and isDel = 0
     <if test="web.isUse != null and web.isUse != -1" >
	        and isUse = #{web.isUse,jdbcType=INTEGER}
	      </if>
	      <if test="web.siteName != null" >
	       and siteName like concat('%', #{web.siteName}, '%')
	      </if>
	       order by id desc
	     <if test="page.pageLimit != null and page.pageSize != null" >
	        LIMIT #{page.pageLimit},#{page.pageSize}  
	 	</if>
  </select>
  
  <select id="queryCount" parameterType="com.yt.cms.model.Websites" resultType="long">
  	  select count(1) from websites where 1=1  and isDel = 0
     	<if test="isUse != null and isUse != -1" >
	        and isUse = #{isUse,jdbcType=INTEGER}
	    </if>
	    <if test="siteName != null" >
	       and siteName like concat('%', #{siteName}, '%')
	    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from websites
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.yt.cms.model.Websites" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
    insert into websites
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="siteName != null" >
        siteName,
      </if>
      <if test="route != null" >
        route,
      </if>
      <if test="isUse != null" >
        isUse,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
      <if test="templteConfig != null" >
        templteConfig,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     
      <if test="siteName != null" >
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="route != null" >
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null" >
        #{isUse,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="templteConfig != null" >
        #{templteConfig,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yt.cms.model.Websites" >
    update websites
    <set >
      <if test="siteName != null" >
        siteName = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="route != null" >
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null" >
        isUse = #{isUse,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="templteConfig != null" >
        templteConfig = #{templteConfig,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="deleteLogicById" parameterType="java.lang.Integer" >
    update websites set isDel = 1, del_date = now() where id = #{id,jdbcType=INTEGER}
  </update>
  
 
</mapper>