<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.cms.mapper.WebsiteTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.yt.cms.model.WebsiteTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="template_path" property="templatePath" jdbcType="VARCHAR" />
    <result column="template_type" property="templateType" jdbcType="INTEGER" />
    <result column="websites_id" property="websitesId" jdbcType="INTEGER" />
  </resultMap>
  
    <resultMap id="ResultMap" type="com.yt.cms.model.WebsiteTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="template_path" property="templatePath" jdbcType="VARCHAR" />
    <result column="template_type" property="templateType" jdbcType="INTEGER" />
    <association property="websites" javaType="com.yt.cms.model.Websites">
    	<id column="websites_id" property="id" jdbcType="INTEGER" />
    	<result column="siteName" property="siteName" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, template_path, template_type, websites_id
  </sql>
  
  
  	<!-- 批量新增 -->
	<insert id="insertBatch" parameterType="java.util.List">
		insert into website_template (template_path,template_type,websites_id) values
		<foreach collection="list" item="item" index="index" 
			separator=",">
			(#{item.templatePath,jdbcType=VARCHAR},#{item.templateType,jdbcType=INTEGER},#{item.websites.id,jdbcType=INTEGER})
		</foreach>
	</insert>
  
  	<!-- 批量更新 -->
  	<update id="updateBatch" parameterType="java.util.List">
        update website_template
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="template_path =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when id=#{item.id} then #{item.templatePath}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    
   <select id="query" resultMap="ResultMap" parameterType="map" >
    select a.id, a.template_path, a.template_type, b.id as websites_id, b.siteName siteName  
    from website_template a left join websites b on a.websites_id = b.id where 1=1 
    
    	<if test="webTemplate != null and webTemplate.templateType != null and webTemplate.templateType != -1" >
	        and a.template_type = #{webTemplate.templateType,jdbcType=INTEGER}
	      </if>
	      <if test="webTemplate != null and webTemplate.websites != null and webTemplate.websites.siteName != null " >
	       and b.siteName like concat('%', #{webTemplate.websites.siteName}, '%')
	      </if>
	       
	       order by id desc
	        <if test="page.pageLimit != null and page.pageSize != null and page.pageSize != 0" >
	        LIMIT #{page.pageLimit},#{page.pageSize}  
	 		</if>
  </select> 
  
  <select id="queryCount" resultType="long" parameterType="com.yt.cms.model.WebsiteTemplate" >
  	select count(1)
    from website_template a left join websites b on a.websites_id = b.id where 1=1 
    
    	<if test="templateType != null and templateType != -1" >
	        and a.template_type = #{templateType,jdbcType=INTEGER}
	      </if>
	      <if test="websites != null and websites.siteName != null " >
	       and b.siteName like concat('%', #{websites.siteName}, '%')
	      </if>
  </select>
  
  <insert id="insertSelective" parameterType="com.yt.cms.model.WebsiteTemplate" >
    insert into website_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="templatePath != null" >
        template_path,
      </if>
      <if test="templateType != null" >
        template_type,
      </if>
      <if test="websitesId != null" >
        websites_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="templatePath != null" >
        #{templatePath,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null" >
        #{templateType,jdbcType=INTEGER},
      </if>
      <if test="websitesId != null" >
        #{websitesId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yt.cms.model.WebsiteTemplate" >
    update website_template
    <set >
      <if test="templatePath != null" >
        template_path = #{templatePath,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null" >
        template_type = #{templateType,jdbcType=INTEGER},
      </if>
      <if test="websitesId != null" >
        websites_id = #{websitesId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>