.contentbg{
    background:#f0f0f0;
    overflow:hidden;

}
.content{
    width:1200px;
    margin:20px auto 0 auto;
    overflow:hidden;

}
.content-left{
    width:942px;
    float:left;
}
.content-center{
    float:left;
    margin-left:34px;
    margin-bottom:30px;
    height:2430px;
    border-right:1px solid #cdcdcd;
}
.content-right{
    width:223px;

    float:right;
}

.listadvise{
    width:942px;
    height:80px;
    position:relative;
}
.listadvise .bigImg{
    width:100%;
    height:100%
}
.listadvise .smallImg{
    position:absolute;
    bottom:10px;
    right:10px;
}

.news_listbox{
    margin-top:20px;
    overflow:hidden;
}
.news_list {
    width:942px;
    background:#fff;
    border-bottom:1px solid #e6e6e6;
    padding-left:20px;
    padding-bottom: 31px;
    float:left;
}
.news_list  h2{
    width:428px;
    color:#000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:20px;
    margin-top:31px;
    margin-bottom:24px;

}

.news_list div{
    font-size:12px;
     width:650px;
    line-height:22px;
    margin-top:17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#666;
}

.news_list p{
    margin-top:22px;
    font-size:12px;
    color:#666;
}
.news_list p .date{
    border-left:1px solid #666666;
    padding-left: 10px;
    margin-left:10px;
}
.navblank{
    height:40px;
    background:#fff;
}


.more{
    margin-top:70px;
    width:941px;
    height:40px;
    font-size:20px;
    line-height:40px;
    color:#333333;
    background:#fff;
    text-align:center;
    margin-bottom:64px;

}

#backtop{
    position:fixed;
    bottom:311px;
    right:306px;
    display:none;
}

