*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"微软雅黑";
}
img {
    display:block;
}
body{
    background: #f4f4f4;
}
ul,ol,ul,li{
    list-style: none;
}
h2{
    font-weight:normal;
}

a{
    text-decoration: none;
}
input, button{
    outline:none;
}
#backtop{
    position:fixed;
    bottom:311px;
    right:306px;
    display:none;
}