/*。。。的位置和样式*/
.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 180px;
    width: 100%;
    left: 185px;
}


.swiper-pagination-bullet {
    display: inline-block;
    background: #999a95;
    margin: 0 15px;
    opacity: 1;
    font-size: 14px;
    width: 28px;
    height: 4px;
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    /*选中的样式*/
    background: #fa5356;
    font-size: 14px;
    opacity: 1;
}


.contentbg {
    margin-top: -21px;
    background: #eacbae;

}
.contentbg .content .channel_title{
    width: 238px;
    height: 28px;
    background: #363633;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 28px;
    border-radius: 2px;
    margin: 20px 0;
}
.content-left {
    width: 498px;
}

.content-right {
    width: 430px;
}

.content-right .content_list li {
    margin-top: 20px;
}

.content-right .content_list li a h2 {
    font-size: 18px;
    width: 410px;
    margin-left: 12px;
    color: #000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.content-right .content_list li a p {
    font-size: 18px;
    width: 410px;
    margin-left: 12px;
    margin-top: 5px;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content-right .content_list .icon{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff5358;
    margin-top: 8px;
    float: left;
}

.content-left .banner {

    position: relative;
    margin-top: 25px;

}
.content-left .banner .img_box{
    width: 498px;
    height: 300px;
    overflow: hidden;
}
.content-left .banner li {
    width: 100%;
    height: 100%;
    list-style: none;
    float: left;
}

.content-left .banner .bannerImg {
    width: 100%;
    height: 100%;
}


.content-left .banner .picture {
    width: 100%;
    height: 100%;

}
.content-left .banner .banner_list{margin-top: 10px}
.content-left .banner .banner_list h3{
    font-size: 20px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content-left .banner .banner_list p{
    font-size: 18px;
    color: #999;
    line-height: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    margin-top: 10px;
}
.news_list {
    width: 1000px;
    margin: 20px auto 40px;
    background: #fff;
}
.news_list .img_box{
    width: 260px;
    height: 160px;
    overflow: hidden;
}
.news_list ul {
}

.news_list ul li {
    width: 415px;
    padding-bottom: 30px;
    float: left;
}

.news_list ul li:nth-child(odd){
    margin-left: 20px;
    padding-right: 65px;
    border-right:1px solid #eeeeee ;
}
.news_list ul li:nth-child(even){
    margin-left: 65px;
    margin-right: 20px;
}

.news_list h3 {
    font-size: 20px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_list p {
    font-size: 16px;
    color: #666;
    height: 60px;
    line-height: 20px;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news_list .list_info span{
    font-size: 14px;
    color: #999999;
}
.news_list .list_info span ,.news_list .list_info span a{
    font-size: 14px;
    color: #999999;
    line-height: 30px;
}
.news_list .list_info .time{
    padding-left: 10px;
}
.ad_right {
    position: fixed;
    z-index: 100;
    top: 170px;
    right: 0;
    width: 300px;
    height: 268px;
    overflow: hidden;
}
.ad_left {
    position: fixed;
    z-index: 100;
    top: 170px;
    width: 300px;
    height: 268px;
    overflow: hidden;
}




