body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight:normal;
}

body {
    background: #fff;
    color: #333;
    font-size: 12px;
    font-family: "SimSun", "宋体", "Arial Narrow", "微软雅黑";
}

ul, ol {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a:link {
    color: #009;
}

a:visited {
    color: #000;
}

h2 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    border: none;
}

body {
    font-family: 微软雅黑;
    background: #e8cbae;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::before,
.clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

.moreBtn{width: 1000px;margin: 0 auto;text-align: center}
.moreBtn .more{
    display: inline-block;
    width: 1000px;
    height: 48px;
    line-height: 48px;
    background: #fff;
    font-size: 20px;
    color: #000;
    margin-bottom: 108px;
    border-radius: 5px;
}

/*广告*/
.ad {
    width: 100%;
    margin-top: 20px;
}

.ad .ad_img {
    width: 1000px;
    margin: 0 auto;
}

.ad_icon1 {
    width: 48px;
    height: 28px;
    position: relative;
    top: -24px;
    right: -960px;
}
.back_to_top{
    display: none;
}

.top_img {
    position: fixed;
    top: 60%;
    right: 120px;
}

.headerbg {
    width: 100%;
    background: #e8cbae;
}

.header, .content, .footer,.header_nav {
    width: 1000px;
    margin: 0 auto;
}

.header {
    background: #363633;
    height: 120px;
    overflow: hidden;
}

.header .logo {
    float: left;
    margin: 16px;

}
.header  .header_search{
    float: right;
    margin: 30px 0 0 120px;
}
.header  .header_search .search_box{
    float: right;
}
.header  .header_search .search_box input{
    width: 260px;
    height: 42px;
    border: none;
    border-radius: 5px;
    padding-left: 18px;

}
.header  .header_search .search_box img{
    position: relative;
    left: -34px;
    display: inline-block;
    cursor: pointer;
}
.header  .header_search .searchBtn{
    color: #fff;
    background: #ff0000;
    width: 90px;
    height: 38px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

.header_nav {
    background: #fff;
    overflow: hidden;
    border-bottom: 4px solid #353631;
    margin-bottom: 20px;
}

.header_nav .nav li {
    float: left;
    margin: 13px 80px 13px 0;
}

.header_nav .nav li a{
    font-size: 20px;
    color: #000;
}
.header_nav .nav li a:hover{
    color: #ff0000;
}
.active{
    color: #ff0000;
}

