.news_nav {
    width: 1200px;
    margin: 0 auto;
}

.nav_list {
    width: 945px;
    float: left;
}

.nav_list ul {
    overflow: hidden;
    width: 945px;
}

.nav_list li {
    width: 945px;
    margin: 15px;
    float: left;
}

.nav_list .num {
    display: inline-block;
    background: #f79a01;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    float: left;
}

.nav_list h3 {
    font-size: 18px;
    line-height: 30px;
    margin-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 40px;
}

.nav_list p {
    font-size: 16px;
    color: #666;
    line-height: 35px;
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 40px;

}

.nav_list .list_info span, .nav_list .list_info span a {
    font-size: 12px;
    color: #999999;
    padding: 0 10px;
    margin-left: 20px;
    line-height: 30px;
}

.nav_list .list_info .time {
    border-left: 1px solid #999999;
    margin-left: 10px;
}

.btnPage {
    margin: 85px 300px;
}

.btnPage button {
    width: 138px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background: #f3f3f3;
    font-size: 20px;
}

.btnPage button.next {
    margin-left: 40px;
}


.ad_icon {
    width: 48px;
    height: 28px;
    position: relative;
    top: -40px;
    right: -140px;
}