/*以下为左侧广告*/
	/*以下为左侧广告*/
		.advertising{
			position:fixed;
			top:130px;
			left:44px;
			width:230px;
			height:808px;
			z-index:100;
		}

		.advertising .Imgtop{
			margin-bottom:40px;
		}
		.advertising img{
			width:230px;
			height:320px;
		}

/*以下为主体内容*/
 .contentbg{
 	width:100%;
   	background:#f4f4f4;
   	padding-bottom: 170px;
 }


.content{
	width:1200px;
	margin:24px auto 0 auto;
	overflow:hidden;

}
/*以下为主体左边内容*/
.content-left{
	width:840px;
/*	height:1000px;*/
	background:#f4f4f4;
    float:left;

}
.content-left-t{
	height:306px;

}
.content-left .content-left-l{
	width:552px;
	height:306px;
    float:left;
    position:relative;


}
.content-left-l li{
	/*width: 552px;*/
	height: 306px;
	list-style: none;
	float: left;
}

#carousel .prev{
	position:absolute;
	top:131px;
	left:0;
}
#carousel .next{
	display:inline-block;t:0px;
	position:absolute;
	top:131px;
	right:0;
}
#swiper-button-prev{
	left:0;
}
#swiper-button-next{
	right:0;
}

.content-left .content-left-l .picture{
   width:100%;
   height:100%;
}
.content-left .content-left-r{
	width:278px;
    float:right;
}
.active{
	border-bottom:2px solid #206491;
}

.bgcolor{
	width:552px;
	height:55px;
	position:absolute;
	bottom:0;
	background: rgba(63,83,94,.5);
}
.bgcolor p{
	width:377px;
	line-height:55px;
    padding-left:15px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	color:#fbf9fc;
	font-size:17px;
}

.content-left-r .top{
	width:278px;
	height:148px;
    position:relative;
}
.content-left-r .bottom{
	margin-top:10px;
	width:278px;
	height:148px;
	background:green;
    position:relative;
}
.bgcolortwo{
	width:265px;
	height:50px;
	padding-top:2px;
	line-height:21px;
    padding-left:15px;
    background:rgba(63,83,94,.5);
	position:absolute;
	bottom:0;
	
}
.bgcolortwo p{
	width:100%;
    text-overflow: ellipsis;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	display:-webkit-box;
	-webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}
.bgcolortwo p a{
	width:265px;
	color:#fbf9fc;
	font-size:17px;
    text-overflow: ellipsis;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	display:-webkit-box;
	-webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}
.content-left-r img{
	width:100%;
	height:100%;
}



/*以下为新闻列表*/
.listbox{
	width:840px;
    overflow:hidden;
	background:#f4f4f4;
}
.listbox .list{
    margin-top:20px;
	overflow: hidden;

}
/*.list>img{*/
	/*width:260px;*/
	/*height:145px;*/
	/*float:left;*/

/*}*/
.list .list-rbox{
	float:right;
	width:570px;

}
.list>a{
	float:left;
	display:inline-block;
	width:260px;
	height:145px;
}
.list>a img{
	width:100%;
	height:100%;
}
.list-rbox .subhead{
	width:570px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-top:10px;

}
.list-rbox .subhead a{
	font-size: 20px;
	color: #000;
}
.list-rbox .center{
	height:26px;

	margin-top:10px;
	margin-bottom:20px;

}
.list-rbox .center-l{
	width:217px;
	float:left;
}
.center-r{
	width:136px;
	height:26px;
	float:right;
}
.list-rbox .center-l .portrait{
	width:25px;
	height:26px;
	border-radius: 50%;
	float:left;

}
 .center-l>span{
	color:#bdbcbc;
	margin-left:10px;
	font-size:12px;
}
.center-r p{
	float:left;
}
.center-r .collect{
	margin-left:20px;
	margin-right:20px;
}
.center-r p img{
	width:15px;
	height:15px;
	margin-top:5px;
	float:left;
}
.center-r p span{
	font-size:12px;
	color:#bdbabc;
	margin-left:3px;

}
.list-rbox>.newsdetail{
	clear:both;
	/*margin-top:13px;*/
	line-height:20px;
	font-size:12px;;
	color:#bdbcbc;
	text-overflow: ellipsis;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.content-left .more{
	width:692px;
	height:33px;
	background:#eeeeee;
	margin-left:58px;
	line-height:33px;
	text-align:center;
	font-size:17px;
	color:#000;
	margin-top:40px;
}

.listbox .listsurplus{
	display:none;
}

/*以下为内容右侧*/
/*.content-right{*/
    /*width:350px;*/
    /*background:#f4f4f4;*/
    /*float:right;*/
/*}*/
/*.right-banner{*/
    /*width:350px;*/
    /*height:190px;*/
/*}*/

/*.content-right-center{*/
    /*width:350px;*/
    /*margin-top:30px;*/
    /*background:#fff;*/
    /*border:1px solid #e0e0e0;*/
    /*background:url("../images/lan.png") #fff no-repeat left 20px;*/
/*}*/

/*.content-right-center h2{*/
    /*height:50px;*/
    /*font-size:20px;*/
    /*color:#2c2c2c;*/
    /*padding:17px 19px 10px 15px;*/


/*}*/
/*.content-right-center h2 span{*/
    /*float:right;*/
    /*font-size:16px;*/
    /*color:#999;*/
    /**/
/*}*/


/*.imgnewlist{*/
    /*margin-left:15px;*/
    /*height:251px;*/
/*}*/
/*.imgnewlist img{*/
    /*width:314px;*/
    /*height:156px;*/
/*}*/
/*.imgnewlist .textone{*/
    /*font-size:16px;*/
    /*color:#101010;*/
    /*margin-top:7px;*/
    /*line-height:28px;*/
/*}*/
/*.imgnewlist .texttwo{*/
    /*line-height:25px;*/
    /*font-size:14px;*/
    /*color:#6d6d6d;*/
    /*margin-left:11px;*/

/*}*/
/*.content-right-center ul li{*/
    /*line-height:22px;*/
    /*border-top:1px solid #e0e0e0;*/
    /*font-size:16px;*/
    /*background:url("../images/icon.png") no-repeat 5px 20px;*/
    /*padding:13px 0px 13px 11px;*/
/*}*/
/*.content-right-center ul li a{*/
    /*color:#101010;*/
    /*display:inline-block;*/
    /*margin-left:9px;*/
    /*margin-right:19px;*/
    /*text-overflow: ellipsis;*/
    /*text-overflow: -o-ellipsis-lastline;*/
    /*overflow: hidden;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
/*}*/

/*.content-right-bottom h2{*/
    /*padding-top:30px;*/
    /*padding-bottom:18px;*/
    /*text-align:center;*/
    /*font-size:20px;*/
    /*color:#000;*/
    /*border-bottom:2px dashed #dcdcdc;*/

/*}*/
/*.textpicBox{*/
    /*width:350px;*/
    /*height:222px;*/
    /*border-radius:8px;*/
    /*margin-top:18px;*/
    /*position:relative;*/

/*}*/
/*.textpicBox .bigimg{*/
    /*border-radius:8px;*/
    /*width:100%;*/
    /*height:100%;*/
/*}*/
/*.textpicBox .smallimg{*/
    /*position:absolute;*/
    /*top:0;*/
    /*left:16px;*/
/*}*/
/*.textpicBox .bg{*/
    /*width:350px;*/
    /*height:82px;*/
    /*line-height:24px;*/
    /*padding:18px 20px 18px 20px;*/
    /*background:rgba(0,0,0,.5);*/
    /*position:absolute;*/
    /*bottom:0;*/
    /*border-bottom-right-radius:8px;*/
    /*border-bottom-left-radius:8px;*/
    /*font-size:14px;*/
    /*color:#fafafa;*/
/*}*/
/*.textpicBox .bg p{*/
    /*text-overflow: ellipsis;*/
    /*text-overflow: -o-ellipsis-lastline;*/
    /*overflow: hidden;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/

/*}*/

