/*广告列表*/
.anniu{
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 30px;
    border: none;
    padding: 0;
    background: #cccccc;
    margin: 0 auto;
}
.anniu.active{
    background-color: #1cbb95;
    margin: 0 auto;
}
.anniu>span{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 2px;
    top: 0;
    background: #fff;
}
.active>span{
    left: 24px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    vertical-align: inherit;
}
/*input下拉框*/
.form_select{
    display: block;
    width: 160px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.operation span a {
    display: inline-block;
    width: 40px;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
    color: #000;
    text-align: center;
}

.selectinput{
    width: 130px;
    height: 36px;
}