
.container{
    margin-top:100px;
}
.column li{
    color:black;
    background:none;
    border:1px solid;

}
#columntab tr{
    height:40px;
}
#columntab tr th{
    height:50px;
    line-height:50px;
}
#columntab tr #textareas{
    width:300px; height:100px;

}
#columntab select{
    width:180px;
}
#columntab .model{
    line-height:34px;
}
input[type=radio]{
    margin-top:-2px;
}
