/*广告标签*/
.ad_right {
    position: fixed;
    z-index: 100;
    top: 155px;
    right: 0;
}

.ad_left {
    position: fixed;
    z-index: 100;
    top: 155px;

}

.ad_icon2 {
    position: relative;
    top: -32px;
    left: 215px;

}

.content_list .content_list_detail {
    padding-bottom: 20px;
    border-bottom: 1px dashed #d0d0d0;
}

.content_list .content_list_detail h3 {
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

.content_list .content_list_detail p {
    font-size: 16px;
    color: #666;
}

.content_list .newsList {
    margin-top: 20px;
    padding-bottom: 18px;
    border-bottom: 1px dashed #d0d0d0;
}

.content_list .newsList li {

    font-size: 16px;
    color: #666;
}

.content_list .newsList li h4 {
    display: inline-block;
}

.content_list .newsList li a {
    display: inline-block;
    width: 625px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_list {
    width: 1200px;
    margin: 0 auto;
}

.news_list .news_list_left {
    width: 740px;
    margin-top: 20px;
}

.news_list .news_list_left li {

    width: 740px;
    display: inline-block;
    height: 180px;
    border-bottom: 1px dashed #cdcdcd;

}

.news_list .news_list_left li .title h3 {
    font-size: 20px;
    color: #000;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_list .news_list_left li .title span {
    font-size: 20px;
    line-height: 40px;
    color: #999;
}

.news_list .news_list_left li .content_news {
    height: 56px;
    line-height: 28px;
    font-size: 20px;
    text-overflow: ellipsis;
    padding-bottom:30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news_list .news_list_left li .content_news span{
    color: #ff0000;
}
.news_list .news_list_right {
    width: 416px;
    height: 400px;
    background: #f7f7f7;
    padding: 20px 12px;
}

.news_list .news_list_right h3 {
    color: #000;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 12px;
}

.news_list .news_list_right span {
    font-size: 20px;
    color: #ff0000;
    font-style: italic;
}

.news_list .news_list_right li a {
    display: inline-block;
    width: 416px;
    padding-right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 36px;
    font-size: 16px;
    color: #999;
}
.pageBtn button{
    width: 141px;
    height: 55px;
    background: #fff;
    border: 1px solid #c1c1c1;
    border-radius:2px ;
    margin-top: 40px;
    margin-bottom: 102px;
    cursor: pointer;
    font-size: 22px;
}
.pageBtn .prev{
    margin-left: 185px;
}
.pageBtn .next{
    margin-left: 88px;
}