*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"微软雅黑";
}
h2{
	margin:0;
	padding:0;
}
img {
    display:block;
}
body{
    font-family: 微软雅黑;
    background: #f4f4f4;
}
ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}
input{
    outline:none;
}
.headerbg{
	width:100%;
	background:#ffffff;
	border-bottom:1px solid #cdcdcd;
}
.header ,.content ,.footer{
	width:1200px;
	margin:0 auto;
}
.header{
	height:100px;
	background:#fff;
	overflow: hidden;

}
.header>img{
	float:left;
	margin-top:25px;

}
.header .nav{
	float:left;
	margin-left:90px;
	margin-top:34px;

}
.header .nav li{
	float:left;
	width:90px;
	height:32px;
    text-align:center;
    line-height:32px;
	font-size:20px;
	color:#000;

}
.header .nav li:hover{
     background:#fe0100;

}
.header .nav li:hover a{
	color:#f8fbfa;
}


.header .header-r{
	float:right;
	width:232px;
	height:37px;
	background:#ebebeb;
	margin-top:31px;
	border-radius: 2px ;

	
}

.header .header-r form{
	position:relative;
}

.header .header-r form #search{
   position:absolute;
   top:5px;
   left:202px;
}

.header .header-r input{
	width:232px;
	height:37px;
	background:none;
	border:none;

	
}

.contentbg{
	width:100%;
	background:#f0f0f0;
	padding-top:20px;
	position:relative;

}
.contentbg>a{
	position:absolute;
	right:306px;
	bottom:10px;

}
.content-leftbox{
	width:858px;
	float:left;

}
.content-leftbox>div{
	display: none;
}
.content{
	clear:both;
    overflow:hidden;

}
.content .content-left{
	width:858px;
	float:left;
}
.content .content-right{
	width:308px;
	float:right;

}

.content-right .border{
	height:37px;
	border-bottom:1px solid #dfdfdf;

}
.content-right .border h3{
	width:58px;
	height:26px;
	line-height: 26px;
	text-align: center;
	background:#fd0000;
	font-size:22px;
	color:#fafafa;
	font-weight: normal;

}
.content-right .right-list{
     overflow:hidden;
}


.right-list .left{
	width:166px;
	height:99px;
	margin-top:26px;
	border-bottom:1px solid #d7d7d7;
    float:left;
}

.right-list p{

	line-height:22px;
	color:#333;
	font-size:12px;
	width:166px;
	text-overflow: ellipsis;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	display:-webkit-box;
	-webkit-line-clamp:3;
    -webkit-box-orient:vertical;
}

.right-list img{
	float:right;
	width:129px;
	height:94px;
	margin-top:30px;
}
.newslistbox{
    background:url("../images/xing.png") no-repeat center 56px;

}
.newslistbox h2{
	width:308px;
	height:36px;
	background:#fff;
	margin-top:22px;
	font-size:16px;
	color:#111111;
	text-align: center;
	line-height: 36px;
	font-weight:normal;
   
}
.newslist{
	width:200px;
	margin-top:35px;
	margin-left:58px;



}
.newslist ul li{
	height:56px;
	line-height:22px;

	font-size:12px;
	border-bottom:1px solid #999999;
}
.newslist ul li a{
    width:184px;
	color:#333333;
	float:right;
  
}
.newslist ul li .red{
	background:#e9382b;
}
.newslist ul li span{
	float:left;
	display: inline-block;
	width:12px;
	height:12px;
	line-height: 12px;
	text-align: center;
	background:#999999;
	border-radius: 50%;
	font-size:10px;
	color:#fafafa;
	margin-top:5px;


}



/*以下为左侧广告*/
.advertising{
	width:200px;
	position:fixed;
	top:121px;
	left:0;
	z-index:1000;

}
.advertising .advone{
	width:100%;
	height:160px;
	margin-bottom:30px;
}
.advertising .advtwo{
	width:100%;
	height:260px;

}

/*以下为尾部*/

.footerbg{
	background:#868686;
	height:300px;
	overflow: hidden;
}

.footerbox{
	margin-top:127px;
	height:170px;
	width:100%;
	border-top:1px solid #fff;
}
 .footerbox p{
	color:#fff;
	font-size:20px;
	text-align:center;
}
 .footerbox .text1{
 	margin-top:32px;
 }
 .footerbox .text2{
 	margin-top:34px;
 	background:url("../images/hui.png") no-repeat 772px 0px;
 }