/*以下为尾部*/

.footerbg{
    width:100%;
    background:#999999;
    overflow: hidden;
    font-size:20px;
    color:#fff;
    text-align:center;
    padding-top:22px;
    padding-bottom:22px;
}

.copyright{
    line-height:30px;
}
.recordNum{
    line-height:30px;
}