

.contentbg{
    overflow:hidden;

}
.content{
    width:1200px;
    margin:20px auto 0 auto;
    overflow:hidden;

}
.content-left{
    width:668px;
    float:left;
}

.content-right{
    width:504px;
    float:right;
}





.news_listbox{
    overflow:hidden;
    width:668px;
}

.news_list{
    width:668px;
    border-bottom:1px solid #8b2120;
    clear:both;
    background:#fff;
    padding-bottom:10px;
    padding-left:10px;
}
.news_list  h2{
    width:437px;
    line-height:40px;
    white-space: nowrap;
    overflow: hidden;
    font-size:20px;
    color:#000;
}
.news_list p{
    line-height:40px;
    font-size:20px;
    color:#999;
}

.news_list div{
    width:640px;
    color:#666;
    margin-top:5px;
    font-size:12px;
    line-height:32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.page{

    text-align:center;
    overflow:hidden;
    margin-bottom:100px;


}
.prevpages{
    margin-left:212px;
}
.page p{
    margin-top:40px;
    margin-bottom:100px;
    float:left;
    width:118px;
    height:40px;
    font-size:20px;
    font-weight: normal;
    color:#fff;
    text-align:center;
    line-height:40px;
    border-radius:2px;
   background:#8f1e21;

}
.nextpages{
    margin-left:40px;
}

.advise_l{
    width:266px;
    height:254px;
    position:fixed;
    left:0;
    top:130px;
    overflow:hidden;
}
.advise_r{
    width:266px;
    height:254px;
    position:fixed;
    right:0;
    top:130px;
    overflow:hidden;
}