.content_box{
    width: 694px;
    margin-top: 10px;
}

.ad_center {
    width: 694px;
    margin-top: 10px;
}
.hot_list_title h3{
    font-size: 20px;
    color: #000;
}
/*banner大小*/
.content-left {
    width: 682px;
    height: 534px;
}

.content-left .banner {
    width: 694px;
    height: 474px;
    position: relative;

}

.content-left .banner .img_box {
    width: 694px;
    height: 474px;
}

.banner .bgcolor {
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .16);

}


.bgcolor p {
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #fff;
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 50px;
}

/*。。。的位置和样式*/
.swiper-pagination-bullets {
    bottom: -10px;
    width: 694px;
    left: 0;
    height: 50px;
    background: #e2dfe0;
}

.swiper-pagination-bullet {
    display: inline-block;
    background: #d2d1d1;
    margin: 10px 20px 0 0;
    opacity: 1;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 0;

}

.swiper-pagination-bullet-active {
    /*选中的样式*/
    background: #fe0200;
    font-size: 14px;
    opacity: 1;
}

.content-left .banner li {
    width: 100%;
    height: 100%;
    list-style: none;
    float: left;
}

.content-left .banner .bannerImg {
    width: 100%;
    height: 100%;
}

.content-left .banner .swiper-button-prev {
    position: absolute;
    left: 0;
    top: 151px;

}

.content-left .banner .swiper-button-next {
    position: absolute;
    right: 0;
    top: 151px;
}

.content-left .banner .picture {
    width: 100%;
    height: 100%;

}

.content-right {
    width: 440px;
    height: 375px;
    margin-top: 20px;
    border-left: 6px solid #ff0000;
    margin-left: 60px;
}

.content-right .content_right_list li {
    width: 434px;
    height: 94px;
    border-bottom: 1px solid #e7e7e7;
}

.content-right .content_right_list li:hover {
    background: #fff;
    height: 94px;

}

.content-right .content_right_list .title {
    font-size: 20px;
    height: 60px;
    color: #000;
    padding: 10px 0 0 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.content-right .content_right_list .time {
    font-size: 16px;
    color: #999;
    padding-left: 10px;
    padding-top: 8px;
}

/*广告标签*/
.ad_right {
    position: fixed;
    z-index: 100;
    top: 170px;
    right: 0;
}

.ad_left {
    position: fixed;
    z-index: 100;
    top: 160px;

}

.ad_icon2 {
    position: relative;
    top: -32px;
    left: 140px;

}

.content_list .content_list_detail {
    padding-bottom: 20px;
    border-bottom: 1px dashed #d0d0d0;
}

.content_list .content_list_detail h3 {
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

.content_list .content_list_detail p {
    font-size: 16px;
    color: #666;
}

.content_list .newsList li {

    font-size: 16px;
    color: #666;
}

.content_list .newsList li h4 {
    display: inline-block;
}

.content_list .newsList li a {
    display: inline-block;
    width: 625px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.news_list .news_list_left {
    width: 694px;
    margin-top: 10px;
}

.news_list .news_list_left li {
    width: 694px;
    height: 190px;
    display: inline-block;
    border-bottom: 1px solid #e9e9e9;
}
.news_list .news_list_left li:last-child{
    border-bottom: none;
}
.news_list .news_list_left li img {
    width: 208px;
    height: 146px;
    float: right;
}

.news_list .news_list_left li .title {
    float: left;
    margin: 20px 0 0 10px;
    width: 478px;

}

.news_list .news_list_left li .title h3 {
    font-size: 20px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_list .news_list_left li .title span {
    font-size: 20px;
    color: #999;
    margin-top: 6px;
    display: inline-block;
}

.news_list .news_list_left li .title p {
    font-size: 20px;
    color: #999;
    line-height: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}



