.headerBox, .headerW {
    width: 100%;
    background: #f5f6f8
}

.navIcon, .smallNavLine {
    top: 2px;
    position: relative
}

.navIcon, .smallNavLine, .stockFloat {
    position: relative
}

.header:after, .searchBox:after {
    content: "";
    clear: both
}

.header, .searchBox input, .searchLi, .smallNavWrap {
    vertical-align: middle
}

.look_hq a, .market_wzl a, .market_wzl a.cl, .stock_wzl a.pc, .stock_wzl a.phone, .text_chain a {
    text-decoration: underline
}

.searchLi, .text_chain a {
    text-overflow: ellipsis;
    white-space: nowrap
}

b, strong {
    font-weight: 700
}

em {
    font-style: italic
}

.headerBox {
    text-align: center;
    z-index: 10003
}

.headerW {
    height: 64px
}

.header {
    width: 1200px;
    height: 64px;
    margin: 0 auto;
    line-height: 68px
}

.header:after {
    display: table
}

.header a.logo {
    width: 132px;
    height: 32px;
    border: 0;
    float: left;
    margin-top: 16px;
    margin-left: 4px;
    background: url(//cdn.upchinapro.com/media/assets/img/logo.jpg) center no-repeat;
    background-size: 132px 32px;
    display: block;
    text-align: center;
    line-height: 32px;
    text-indent: -9999px;
    font-size: 30px
}

.smallNavWrap {
    float: right;
    height: 64px;
    line-height: 64px
}

.bigData, .navIcon {
    width: 14px;
    height: 14px;
    border: 0
}

.navIcon {
    margin-right: 2px
}

.smallNav {
    color: #666;
    margin-right: 20px
}

.smallNav:hover {
    color: #F56F26
}

.smallNavLine {
    width: 1px;
    height: 13px;
    border: 0;
    margin-right: 20px
}

.stockFloat {
    display: inline;
    padding: 10px 0
}

.stockFloat .downStock {
    position: absolute;
    top: 30px;
    left: -165px;
    height: 214px;
    width: 370px;
    z-index: 10004;
    text-align: center;
    line-height: 14px;
    display: none
}

.stockFloat .tcimg, .stockFloat .tcimg img {
    width: 14px;
    height: 8px;
    line-height: 8px
}

.stockFloat .tcimg {
    margin: 0 auto
}

.stockFloat .downStockA {
    height: 204px;
    width: 370px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    overflow: hidden
}

.appDown, .pcDown {
    float: left;
    width: 185px;
    text-align: center;
    height: 204px
}

.searchBox, .searchBox.fo {
    width: 238px;
    position: relative
}

.stockFloat .downStockA p {
    color: #555;
    margin: 14px 0 10px
}

.searchBox {
    height: 24px;
    border: 1px solid #ccc;
    background: #fff;
    text-align: left;
    float: right;
    margin-right: 10px;
    margin-top: 19px;
    display: none
}

.searchBox.fo {
    height: 24px;
    border: 1px solid #999;
    z-index: 10
}

.searchBox:after {
    display: table
}

.searchBox input {
    border: 0;
    display: block;
    height: 24px;
    line-height: 24px;
    width: 228px;
    padding-left: 10px;
    background: url(//cdn.upchinapro.com/media/assets/img/searchBgSmall.jpg) no-repeat;
    position: absolute;
    left: 0;
    outline: 0
}

.searchBox a, .searchBox.fo a {
    display: block;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 0
}

.searchBox input.foc {
    background: #fff
}

.searchBox a {
    background: url(//cdn.upchinapro.com/media/assets/img/searchBtn_blur.png) 0 5px no-repeat;
    cursor: default
}

.header div.pic img, .hint_btn, .searchUl li .hov {
    cursor: pointer
}

.searchBox.fo a {
    background: url(//cdn.upchinapro.com/media/assets/img/searchBtn_focus.png) 0 5px no-repeat
}

.searchLi, .searchUl li {
    height: 32px;
    line-height: 32px;
    overflow: hidden
}

.searchUl {
    width: 100%;
    border: 1px solid #dedede;
    padding-bottom: 10px;
    position: absolute;
    left: -1px;
    top: 26px;
    z-index: 100;
    background: #fff;
    list-style: none;
    display: none;
    -webkit-box-shadow: 2px 2px 2px 0 #e9e9e9;
    -moz-box-shadow: 2px 2px 2px 0 #e9e9e9;
    box-shadow: 2px 2px 2px 0 #e9e9e9
}

.searchUl li {
    width: 100%
}

.searchLi {
    width: 188px;
    padding: 0 10px;
    font-size: 12px;
    color: #999;
    background: #fff
}

.searchLi_title {
    font-size: 14px;
    color: #333
}

.searchLi_keyWords {
    color: #f96;
    font-size: 12px;
    margin: 0
}

.titLi .searchLi_keyWords {
    color: #f96;
    font-size: 12px;
    margin: 0 5px
}

.searchUl li.active .hov, .searchUl li.active .hov .searchLi_keyWords {
    background: #f96;
    color: #fff
}

.header div.login_out {
    overflow: hidden;
    display: block;
    width: 88px;
    background: #f8f8f8;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: right;
    margin-top: 18px
}

.header div.login_out:hover {
    border-color: #f56f26
}

.header a.login_dl {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #666;
    float: right;
    width: 71px;
    padding-right: 17px;
    height: 100%;
    background: url(//cdn.upchinapro.com/media/assets/img/loginBg.png) 10px 7px no-repeat
}

.header a.login_dl:hover {
    color: #F56F26
}

.header div.login_in {
    float: right;
    position: relative;
    display: block;
    top: 9px
}

.header div.pic {
    height: 30px;
    width: 30px;
    margin-right: 15px
}

.header div.pic img {
    width: 30px;
    height: 30px;
    border: 0
}

.header div.tc {
    position: absolute;
    top: 58px;
    right: 0;
    height: 233px;
    width: 150px;
    z-index: 10004;
    display: none;
    text-align: center;
    overflow: hidden
}

.header div.tc div.tcimg, .header div.tc div.tcimg img {
    width: 14px;
    height: 8px;
    line-height: 8px
}

.header div.tc div.tcimg {
    margin: 0 20px 0 auto
}

.header div.tc ul {
    overflow: hidden;
    border: 1px solid #ccc;
    height: 221px;
    width: 148px;
    list-style: none;
    background: #fff
}

.header div.tc ul li {
    margin-top: 0;
    border-bottom: 1px solid #eee;
    height: 36px;
    line-height: 36px;
    width: 130px;
    margin-left: 10px
}

.content, .mainNavCon {
    margin: 0 auto;
    overflow: hidden
}

.header div.tc ul li.ques {
    background: url(//cdn.upchinapro.com/media/assets/img/ggwed.png) 94px 9px no-repeat
}

.header div.tc ul li a {
    font-size: 14px;
    color: #666
}

.header div.tc ul li a:link, .header div.tc ul li a:visited {
    color: #666
}

.header div.tc ul li a:active, .header div.tc ul li a:hover {
    color: #F56F26
}

.content {
    width: 1200px;
    padding-bottom: 45px
}

.mainNavWrap {
    width: 100%;
    height: 48px;
    background: #fff
}

.mainNav, .mainNavCon {
    height: 44px;
    line-height: 44px;
    vertical-align: middle
}

.mainNavWrap.fix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10003
}

.mainNavCon {
    width: 1200px
}

.mainNav {
    font-size: 16px;
    color: #333;
    padding: 0 22px;
    display: block;
    float: left
}

.mainNav_modify {
    padding: 0 23px
}

.mainNav_mod {
    padding: 0 14px
}

a#liveMain {
    padding: 0 32px
}

a#c1 {
    padding-left: 17px
}

a#c6 {
    padding-right: 14px
}

.mainNav:hover {
    color: #F56F26
}

.mainNav.active {
    background: #f56f26;
    color: #fff
}

.mainNavLine {
    width: 1px;
    height: 22px;
    border: 0;
    position: relative;
    top: 11px;
    float: left
}

.line {
    width: 100%;
    height: 4px;
    background: url(//cdn.upchinapro.com/media/assets/img/lineBg.jpg) top repeat-x
}

div.footer {
    width: 100%;
    clear: both
}

div.footer div.foot_top {
    width: 100%;
    height: auto;
    background-color: #2a2a2a
}

div.footer div.foot_top div.footbox {
    width: 1200px;
    height: 279px;
    margin: 0 auto;
    overflow: hidden
}

div.footer div.foot_top div.footbox ul.about {
    list-style: none;
    margin-left: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
    margin-right: 110px;
    float: left
}

div.footer div.foot_top div.footbox ul.about li {
    padding-bottom: 12px;
    font-size: 14px
}

div.footer div.foot_top div.footbox ul.about li a {
    font-size: 14px;
    color: #666
}

div.footer div.foot_top div.footbox ul.about li.title_f {
    padding-bottom: 20px
}

div.footer div.foot_top div.footbox ul.about li.title_f a {
    font-size: 14px;
    color: #e5e3e3
}

div.footer div.foot_top div.footbox ul.wenxin {
    list-style: none;
    margin-right: 50px;
    padding-top: 60px;
    overflow: hidden;
    float: right;
    height: 228px
}

div.footer div.foot_top div.footbox ul.wenxin li {
    padding-bottom: 20px;
    font-size: 14px;
    color: #999
}

div.footer div.foot_top div.footbox ul.wenxin li div.w_img {
    width: 110px;
    height: 110px;
    padding-left: 10px;
    margin-bottom: 5px
}

div.footer div.foot_top div.footbox ul.wenxin li div.w_img img {
    width: 110px;
    height: 110px
}

div.footer div.foot_top div.footbox ul.wenxin li div.w_title {
    text-align: center;
    font-size: 14px;
    color: #999
}

.friend {
    width: 100%;
    background-color: #2a2a2a;
    height: auto;
    font-size: 14px
}

.friend_link {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    border-top: 1px solid #3b3b3b
}

.friend_link .title {
    float: left;
    color: #fff;
    margin-top: 30px;
    margin-left: 50px
}

.friend_link .frieng_qy {
    float: left;
    width: 1070px;
    margin-left: 23px;
    margin-top: 27px
}

.friend_link .frieng_qy .name {
    margin-bottom: 13px;
    line-height: 25px
}

.friend_link .frieng_qy a {
    padding: 0 7px;
    border-right: 2px solid #666;
    color: #666;
    display: inline-block;
    height: 14px;
    line-height: 14px
}

.friend_link .frieng_qy .last {
    border-right: 0
}

div.footer div.foot_bottom {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #1f1f1f;
    text-align: center;
    color: #666;
    font-size: 14px
}

.twoD_barcodes_wrap {
    width: 158px;
    position: fixed;
    left: 50%;
    top: 138px;
    border: 1px solid #ececec;
    background: #fff;
    z-index: 99;
    margin-left: -770px
}

.twoD_barcodes_wrap .closeWrap {
    width: 100%;
    height: 24px
}

.closeBtn {
    display: block;
    width: 13px;
    height: 13px;
    margin-left: 133px;
    margin-top: 12px;
    background: url(//cdn.upchinapro.com/media/assets/img/close_qrcode.png) no-repeat
}

.twoD_barcodes, .twoD_barcodes_title {
    margin: 0 auto;
    padding-bottom: 8px;
    text-align: center
}

.twoD_barcodes_main {
    width: 158px;
    height: px
}

.twoD_barcodes_title {
    width: 70px;
    height: px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 12px;
    color: #333
}

.twoD_barcodes {
    width: 116px;
    height: 116px;
    padding-top: 6px
}

.twoD_barcodes img {
    width: 116px;
    height: 116px;
    border: 0
}

.scan {
    width: 116px;
    overflow: hidden;
    margin: 0 auto 10px;
    text-align: center;
    border-top: 1px dashed #d3d3d3;
    padding-top: 12px
}

.scan img {
    width: 46px;
    height: 35px
}

.scantxt {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #666
}

.downloadBtn {
    width: 100%;
    margin-bottom: 18px
}

.downloadBtn a {
    display: block;
    width: 116px;
    margin: 0 auto;
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #f56f26
}

.downloadBtn a:active, .downloadBtn a:hover {
    background: #e46723
}

.fixdiv {
    display: none;
    position: fixed;
    bottom: 60px;
    left: 50%;
    margin-left: 446px;
    height: 180px;
    z-index: 10000
}

.zindex, .zindex2 {
    z-index: 10003
}

.fixdiv .fix-rela {
    position: relative;
    height: 180px
}

.fixdiv .fix-rela .xiaz {
    position: relative;
    left: 0;
    top: 0;
    width: 210px;
    height: 140px;
    border: 0 solid red;
    overflow: hidden
}

.fixdiv .fix-rela .xiaz .xz-tc {
    width: 164px;
    height: 138px;
    border: 0 solid #dbdbdb;
    float: left;
    display: none
}

.fixdiv .fix-rela .xiaz .active, .fixdiv .fix-rela .xiaz .active-hover {
    display: block !important
}

.fixdiv .fix-rela .xiaz .xz-tc .left-box {
    width: 154px;
    height: 138px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    float: left
}

.fixdiv .fix-rela .xiaz .xz-tc .left-box a {
    display: block;
    width: 104px;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 14px;
    text-align: left;
    padding-left: 50px
}

.fixdiv .fix-rela .xiaz .xz-tc .left-box a.pc-a {
    margin-top: 9px;
    background: url(//cdn.upchinapro.com/media/assets/img/tc-pcn.png) 20px center no-repeat
}

.fixdiv .fix-rela .xiaz .xz-tc .left-box a.iphone-a {
    background: url(//cdn.upchinapro.com/media/assets/img/tc-iphn.png) 20px center no-repeat
}

.fixdiv .fix-rela .xiaz .xz-tc .left-box a.android-a {
    background: url(//cdn.upchinapro.com/media/assets/img/tc-andn.png) 20px center no-repeat
}

.fixdiv .fix-rela .xiaz .xz-tc .left-box a.pc-a:hover {
    background: url(//cdn.upchinapro.com/media/assets/img/tc-pch.png) 20px center no-repeat #f56f26;
    color: #fff
}

.fixdiv .fix-rela .xiaz .xz-tc .left-box a.iphone-a:hover {
    background: url(//cdn.upchinapro.com/media/assets/img/tc-iphh.png) 20px center no-repeat #f56f26;
    color: #fff
}

.fixdiv .fix-rela .xiaz .xz-tc .left-box a.android-a:hover {
    background: url(//cdn.upchinapro.com/media/assets/img/tc-andh.png) 20px center no-repeat #f56f26;
    color: #fff
}

.fixdiv .fix-rela .xiaz .xz-tc .right-box {
    width: 8px;
    height: 138px;
    float: left;
    background: url(//cdn.upchinapro.com/media/assets/img/tc-jt.png) left 110px no-repeat;
    margin-left: -1px
}

a#toTop, a.open_ques {
    display: block;
    left: 50%;
    margin-left: 620px;
    width: 36px;
    height: 36px;
    border: 1px solid #DEDEDE
}

.fixdiv .fix-rela .xiaz .xiaz-a {
    display: block;
    float: right;
    margin-top: 100px;
    width: 36px;
    height: 36px;
    border: 1px solid #DEDEDE;
    text-align: center;
    line-height: 36px;
    font-size: 12px;
    color: #666;
    background-color: #f6f6f6
}

.fixdiv .fix-rela .xiaz .xiaz-a:hover {
    background-color: #E5E5E5
}

a.open_ques {
    position: fixed;
    bottom: 106px;
    background: url(//cdn.upchinapro.com/media/assets/img/yijianfk.png) center center no-repeat #f6f6f6
}

a#toTop:hover, a.open_ques:hover {
    background-color: #E5E5E5
}

a#toTop {
    position: fixed;
    bottom: 60px;
    background: url(//cdn.upchinapro.com/media/assets/img/tc-top.png) 10px center no-repeat #f6f6f6
}

.box_bg, .hint {
    position: fixed;
    display: none
}

.box_bg {
    width: 100%;
    height: 100%;
    z-index: 100000;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    -khtml-opacity: .5
}

.hint {
    width: 860px;
    height: 638px;
    margin: -319px auto 0 -430px;
    background: #fff;
    top: 50%;
    left: 50%;
    z-index: 111000
}

.hint .suggest, .hint .top {
    position: absolute;
    left: 60px
}

.hint_btn {
    width: 15px;
    height: 15px;
    background: url(//cdn.upchinapro.com/media/assets/img/yijian_btn.png) no-repeat;
    background-size: 15px 15px;
    position: absolute;
    top: 20px;
    right: 20px
}

.hint .top {
    height: 40px;
    top: 34px
}

.hint .top .title {
    width: 106px;
    height: 35px;
    border-bottom: 1px solid #fb6d2f;
    line-height: 35px;
    text-align: center;
    font-size: 17px;
    color: #fb6d2f;
    font-weight: 700;
    float: left
}

.hint .top .lines {
    width: 635px;
    height: 35px;
    border-bottom: 1px solid #e6e6e6;
    float: left
}

.hint .suggest {
    height: 200px;
    top: 105px;
    width: 741px
}

.hint .suggest p {
    color: #666
}

.hint .suggest_textarea {
    border: 1px solid #e6e6e6;
    height: 120px;
    width: 699px;
    outline: 0;
    resize: none;
    margin-top: 25px;
    padding: 20px;
    color: #999;
    line-height: 25px;
    position: relative
}

.hint .suggest_textarea.active {
    border: 1px solid #fa7d3c;
    color: #333
}

.hint .text {
    position: absolute;
    top: 65px;
    left: 20px;
    color: #999;
    line-height: 25px
}

.hint .info_s {
    height: 245px;
    position: absolute;
    top: 343px;
    left: 60px;
    width: 741px
}

.hint .info_s p {
    color: #fb6d2f;
    margin-bottom: 26px
}

.hint .info_s span {
    color: #666;
    margin-right: 13px;
    vertical-align: middle;
    display: inline-block;
    line-height: 30px;
    margin-bottom: 17px
}

.hint .info_s input {
    width: 228px;
    height: 30px;
    border: 1px solid #e6e6e6;
    outline: 0;
    margin-bottom: 18px;
    padding-left: 10px;
    vertical-align: middle
}

.hint .info_s input.active {
    border: 1px solid #fa7d3c;
    color: #333
}

.hint .info_s .submit_btn {
    width: 96px;
    height: 30px;
    color: #fff;
    background-color: #fb6d2f;
    outline: 0;
    border: 0;
    border-radius: 2px;
    margin-top: 22px;
    cursor: pointer
}

.stock_wzl, .stock_wzl a.pc, .stock_wzl a.phone {
    font-size: 14px;
    color: #f56f26
}

.hint .info_s .submit_btn:hover {
    background-color: #fb7c44
}

.hint .info_s .submit_btn.active {
    background-color: #e1622a
}

/*!* WebKit browsers *!::-webkit-input-placeholder:after {display:block; color: #999;content:"我们每天会关注您的反馈,不断优化产品.为您提供更好的服务! \A";}*//*!* Mozilla Firefox 4 to 18 *!:-moz-placeholder:after {display:block; color: #999;content:"我们每天会关注您的反馈,不断优化产品.为您提供更好的服务! \A";}*//*!* Mozilla Firefox 19+ *!::-moz-placeholder:after {display:block; color: #999;content:"我们每天会关注您的反馈,不断优化产品.为您提供更好的服务! \A";}*//*!* Internet Explorer 10+ *!:-ms-input-placeholder:after {display:block; color: #999;content:"我们每天会关注您的反馈,不断优化产品.为您提供更好的服务! \A";}*/
div.leftbox ul li.li_bg6 .this_a {
    background: url(//cdn.upchinapro.com/media/assets/img/ggwed.png) right 9px no-repeat;
    height: 40px;
    line-height: 40px;
    width: 73px;
    display: inline-block
}

.ad_1 img {
    width: 278px
}

.ad_1, .ad_2, .ad_3 {
    margin-bottom: 20px
}

.ad_3 img {
    width: 830px
}

.ad_4 {
    width: 340px;
    margin: 0 auto
}

.ad_5 {
    margin-top: 20px
}

.ad_5 img {
    width: 890px
}

.stock_wzl span {
    margin-right: 20px;
    vertical-align: middle
}

.stock_wzl img {
    vertical-align: middle
}

.stock_wzl a.pc {
    margin: 0 25px 0 10px;
    vertical-align: middle
}

.stock_wzl a.phone {
    margin: 0 10px;
    vertical-align: middle
}

.stock_wzl a:hover {
    color: #d44100
}

.look_hq a, .market_wzl, .market_wzl a {
    color: #f56f26;
    font-size: 14px
}

.look_hq {
    width: 300px
}

.look_hq img, .market_wzl img {
    vertical-align: middle;
    margin-right: 10px
}

.look_hq a, .market_wzl a {
    vertical-align: middle
}

.market_wzl a.cl {
    margin-right: 44px
}

.look_hq a:hover, .market_wzl a:hover {
    color: #d44100
}

.text_chain {
    width: 735px;
    height: 73px;
    border: 1px solid #cbcbcb;
    margin: 0 auto;
    overflow: hidden
}

.text_chain a {
    font-size: 14px;
    color: #f56f26;
    line-height: 26px;
    display: inline-block;
    width: 342px;
    text-align: left;
    overflow: hidden
}

.text_chain .item1, .text_chain .item2 {
    float: left;
    margin-top: 11px
}

.text_chain .item1 {
    margin: 11px 20px 0 15px
}

.text_chain a:hover {
    color: #d44100
}