/*广告标签*/
.ad_right {
    position: fixed;
    z-index: 100;
    top: 170px;
    right: 0;
}

.ad_left {
    position: fixed;
    z-index: 100;
    top: 164px;

}


.content_box{
    width: 1200px;
    background: #fff;
    border: 1px solid #989898;
    margin-top: 20px;
}

.content_list .content_list_detail {
    padding-bottom: 20px;
    border-bottom: 1px dashed #d0d0d0;
}

.content_list .content_list_detail h3 {
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

.content_list .content_list_detail p {
    font-size: 16px;
    color: #666;
}

.content_list .newsList {
    margin-top: 20px;
    padding-bottom: 18px;
    border-bottom: 1px dashed #d0d0d0;
}

.content_list .newsList li {

    font-size: 16px;
    color: #666;
}

.content_list .newsList li h4 {
    display: inline-block;
}

.content_list .newsList li a {
    display: inline-block;
    width: 625px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_list {
    width: 1198px;
    margin: 0 auto;
}



.news_list .news_list_left li {
    width:  1198px;
    height: 175px;
    display: inline-block;
    padding: 20px 0 20px 10px;
    border-bottom: 1px dashed #efefef;
}

.news_list .news_list_left li .title h3 {
    font-size: 20px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_list .news_list_left li .title span {
    font-size: 20px;
    color: #999;
    display: inline-block;
    margin-top: 10px;
}

.news_list .news_list_left li .content_news {
    line-height: 34px;
    font-size: 20px;
    color: #999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.news_list .news_list_left li .content_news span{
    color: #ff0000;
}

.pageBtn button{
    width: 130px;
    height: 52px;
    border: 1px solid #b9b9b9;
    background: #f3f3f3;
    border-radius: 2px;
    margin-top: 79px;
    margin-bottom: 100px;
    cursor: pointer;
    font-size: 20px;
    color: #d4d4d4;
}
.pageBtn .prev{
    margin-left: 400px;
}
.pageBtn .next{
    margin-left: 59px;
}
.more_box{
    width: 1200px;
    text-align: center;
}
.more_box .more {
    display: inline-block;
    width: 152px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    font-size: 20px;
    color: #000;
    border: 1px solid #999;
    margin: 30px 0 50px;
}

