/*广告标签*/
.ad_right {
    position: fixed;
    z-index: 100;
    top: 170px;
    right: 0;
}

.ad_left {
    position: fixed;
    z-index: 100;
    top: 170px;

}

.ad_icon2 {
    position: relative;
    top: -32px;
    left: 140px;

}
.ad_center {
    width: 166px;
    margin:20px 66px 0 52px;
    float: left;
}
.ad_center .img_box{
    width: 164px;
    height: 434px;
}

.content_list .content_list_detail {
    padding-bottom: 20px;
    border-bottom: 1px dashed #d0d0d0;
}

.content_list .content_list_detail h3 {
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

.content_list .content_list_detail p {
    font-size: 16px;
    color: #666;
}

.content_list .newsList {
    margin-top: 20px;
    padding-bottom: 18px;
    border-bottom: 1px dashed #d0d0d0;
}

.content_list .newsList li {

    font-size: 16px;
    color: #666;
}

.content_list .newsList li h4 {
    display: inline-block;
}

.content_list .newsList li a {
    display: inline-block;
    width: 625px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_list {
    width: 1200px;
    margin: 0 auto;
}

.news_list .news_list_left {
    width: 485px;
    margin-top: 20px;
}

.news_list .news_list_left li {
    width: 484px;
    height: 145px;
    display: inline-block;
    background: #fff;
    padding: 10px 0 0 10px;

    margin-bottom: 30px;
}

.news_list .news_list_left li .title h3 {
    font-size: 20px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_list .news_list_left li .title span {
    font-size: 20px;
    color: #999;
}

.news_list .news_list_left li .content_news {
    line-height: 28px;
    font-size: 16px;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.news_list .news_list_left li .content_news span{
    color: #ff0000;
}

.pageBtn button{
    width: 70px;
    height: 28px;
    background: #fff;
    border: 1px solid #c1c1c1;
    margin-top: 61px;
    margin-bottom: 80px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
}
.pageBtn .prev{
    margin-left: 130px;
}
.pageBtn .next{
    margin-left: 59px;
}


