*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"微软雅黑";
}
img {
    display:block;
}


/*以下为footer*/
.footerbg{
    background:#2a2a2a;
    position:relative;
    height: 280px;
    width: 100%;

}

.footerbg_border {
    padding-top: 120px;
}

.footerbg .footerbg_top{
    width: 1200px;
    margin: 0 auto;

}
.footerbg .footerbg_top P{
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 60px;
    border-top: 1px solid #fff;
}


.smallnav{
    padding-top:80px;
    font-size:18px;

}
.smallnav a{
    color:#fafafa;
    padding:0 9px;
}
.footer-center .copyrightnum{
    color:#fafafa;
    font-size:18px;
    text-align:center;
    padding-top:60px;
    padding-bottom:20px;


}
.footer-center .copyrightdate{
    color:#fafafa;
    font-size:18px;
    text-align:center;
    padding-bottom:45px;


}

.footerbg .ewm img{
    width:155px;
    height:155px;
}
.footerbg .ewm p{
    margin-top:15px;
    text-align:center;
    color:#feffff;
    font-size:17px;
}
.footerbg .ewm{
    width:155px;
    height:204px;
    position:absolute;
    top:10px;
    right:200px;
}


