/*以下为主体内容*/
.contentbg{
    overflow:hidden;
}

.content{
    width:1200px;
    margin:16px auto 0 auto;
    overflow:hidden;

}

.content-left{
    width:830px;
    float:left;
    margin-bottom:98px;
}
.advise{
    width:830px;
    height:174px;
    overflow:hidden;
    margin-bottom:20px;
}
.editorbox{
    background:#eaeaea;


}

.content-right{
    width:337px;
    float:right;
}

.editor_tit h2{
    width:830px;
    line-height:48px;
    font-size:28px;
    color:#000;
    white-space: nowrap;
    overflow: hidden;
    text-align:center;

}

.editor_tit p{
    line-height:56px;
    font-size:16px;
    color:#999999;
    text-align:center;

}
.editor_tit .date{
    margin-left:10px;
}
.editor_con {
    margin: 25px 15px 0!important;
    padding-bottom:50px;

}

.editor_con p {
    text-indent: 2em !important;
    margin-bottom: 30px!important;
    font-size: 16px!important;
    color: #000!important;
    line-height: 28px!important;
}


.editor_con h1, .editor_con h2, .editor_con h3, .editor_con h4, .editor_con h5 {
    font-size: 20px!important;
    margin-bottom: 30px!important;
}

.editor_con img {
    max-width: 100%!important;
    margin: 5px auto!important;
}


.advise_l{
    width:284px;
    height:248px;
    position:fixed;
    left:0;
    top:140px;
    overflow:hidden;
}
.advise_r{
    width:284px;
    height:248px;
    position:fixed;
    right:0;
    top:140px;
    overflow:hidden;
}


